.flatList {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 120px 0;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 45px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      gap: 37px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 28px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      gap: 28px;
    }

    @media screen and (width < 768px) {
      gap: 16px;
    }
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 64px;
    margin: 100px 0;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    gap: 56px;
    margin: 80px 0;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    gap: 56px;
    margin: 64px 0;
  }

  @media screen and (width < 768px) {
    gap: 48px;
    margin: 64px 0;
  }
}
