.QuestionsSection {
  border-radius: 40px;
  background: var(--color-white);

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    @media (width <= 970px) {
      flex-wrap: wrap;
    }
    @media (width <= 570px) {
      padding: 20px;
    }
    @media (width <= 380px) {
      padding: 10px;
    }
  }

  &__leftSide {
    width: 30%;
    min-width: 500px;
    margin-right: 20px;
    padding: 30px;
    border-radius: 32px;
    background: var(--color-orange);

    @media (width <= 1440px) {
      min-width: 381px;
    }

    @media (width <= 970px) {
      width: 100%;
      min-width: 0;
    }

    @media (width <= 570px) {
      margin-right: 0;
    }
  }

  &__rightSide {
    width: 60%;

    @media (width <= 970px) {
      width: 100%;
    }
  }
}
