.flatLayoutCard {
  background-color: var(--color-white);
  border-radius: 32px;
  height: 100%;
  min-height: 586px;
  padding: 32px 32px 27px;

  &__image {
    height: 100%;
    width: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;

    > span {
      border: 1px solid #e4e4e4;
      border-radius: 64px;
      color: var(--color-text-black);

      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      padding: 8px 16px;
      text-align: center;

      @media screen and (width < 1024px) {
        font-size: 13px;
      }
    }

    &__actions {
      display: flex;
      gap: 16px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 12px;
      }

      @media screen and (width < 1440px) {
        gap: 8px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__image {
      height: 153px;
      margin: 50px auto;
      position: relative;
      width: 162px;

      &__wrapper {
        border: 1.5px solid transparent;
        border-radius: 32px;
        margin: 15px 0;
        transition: border 0.3s ease;

        &:hover {
          border: 1.5px solid var(--color-orange);
        }

        @media (width <= 768px) {
          margin: 5px 0;
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        margin: 40px auto;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        margin: 20px auto;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        margin: 15px auto;
      }

      @media screen and (width < 768px) {
        margin: 15px auto;
      }
    }

    &__title {
      color: var(--color-text-black);
      // margin-bottom: 12px;

      font-size: 24px;
      font-weight: 500;
      line-height: 130%;

      @media screen and (width >= 1440px) and (width < 1920px) {
        // margin-bottom: 16px;
        font-size: 20px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        // margin-bottom: 12px;
        font-size: 18px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        // margin-bottom: 12px;
        font-size: 18px;
      }

      @media screen and (width < 768px) {
        // margin-bottom: 12px;
        font-size: 16px;
      }
    }

    &__description {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 8px 12px;

      width: 95%;

      &__item {
        color: var(--color-text-black);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        list-style: none;

        @media screen and (width < 1024px) {
          font-size: 13px;
        }
      }

      &__separator {
        background-color: var(--color-text-gray);
        border-radius: 50%;
        height: 4px;
        width: 4px;
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        width: 88%;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        gap: 4px 8px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        gap: 4px 12px;
      }

      @media screen and (width < 768px) {
        gap: 4px 12px;
        width: 100%;
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      gap: 12px;

      // margin-top: 16px;

      &__value {
        color: var(--color-text-black);
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 20px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 18px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 18px;
        }

        @media screen and (width < 768px) {
          font-size: 16px;
        }
      }

      &__change {
        align-items: center;

        background-color: var(--color-beige);
        border-radius: 16px;
        display: flex;

        height: 42px;
        justify-content: space-between;
        padding: 12px 16px;

        &__info {
          align-items: center;
          display: flex;
          gap: 8px;

          &__icon {
            height: 20px;
            width: 20px;
          }

          &__text {
            color: var(--color-text-black);
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;

            @media screen and (width < 1440px) {
              font-size: 13px;
            }
          }
        }

        &__button {
          align-items: center;

          background-color: var(--color-white);
          border: none;
          border-radius: 50%;
          cursor: pointer;

          display: flex;
          height: 16px;
          justify-content: center;

          width: 16px;

          &__icon {
            height: 8px;
            width: 6px;
          }
        }
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        // margin-top: 12px;
      }
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 12px;
    }
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    min-height: 544px;
    padding: 24px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    min-height: 495px;
    padding: 20px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    min-height: 464px;
    padding: 20px;
  }

  @media screen and (width < 768px) {
    min-height: 452px;
    padding: 16px;
  }
}
