@use "@/utils/mixins" as mixins;

.aboutComplex {
  @include mixins.adaptive-vertical-margin;

  &__header {
    @include mixins.adaptive-heading-margin;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__text {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;

      &_desktop {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }

      @media screen and (width >= 768px) and (width < 1920px) {
        font-size: 15px;

        &_desktop {
          font-size: 15px;
          font-weight: 400;
          line-height: 150%;
        }
      }

      @media screen and (width < 768px) {
        font-size: 14px;

        &_desktop {
          display: none;
        }
      }
    }

    &__link {
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      color: var(--color-orange);

      &:hover {
        text-decoration: underline;
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 16px;
      }

      @media screen and (width < 1440px) {
        font-size: 14px;
      }
    }

    @media screen and (width >= 1440px) and (width < 1920px) {
      gap: 16px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 12px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      gap: 12px;
    }

    @media screen and (width < 768px) {
      gap: 8px;
    }
  }
}
