.where {
  align-items: center;

  background: linear-gradient(
    222deg,
    rgba(228, 98, 25, 0.15) 23.1%,
    rgba(236, 125, 63, 0.15) 76.5%
  );
  border-radius: 64px;
  display: flex;
  gap: 40px;
  height: 746px;
  justify-content: space-between;
  padding: 120px 40px 120px 80px;

  @media screen and (width >= 1440px) and (width < 1920px) {
    border-radius: 56px;
    gap: 78px;
    height: 564px;
    padding: 80px 32px 80px 64px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    border-radius: 56px;
    gap: 0;
    height: 423px;
    padding: 56px 32px 56px 56px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    border-radius: 40px;
    flex-direction: column;
    gap: 56px;
    height: 683px;
    padding: 32px 40px;
  }

  @media screen and (width < 768px) {
    border-radius: 24px;
    flex-direction: column;
    gap: 48px;
    padding: 16px;
  }

  &__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 64px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      gap: 48px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 40px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      flex-direction: row;
      gap: 36px;
    }

    @media screen and (width < 768px) {
      gap: 24px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 24px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        gap: 24px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        flex: 1;
        gap: 16px;
      }

      @media screen and (width < 768px) {
        gap: 12px;
      }

      &__title {
        color: var(--color-black);

        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 26px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 22px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 22px;
        }

        @media screen and (width < 768px) {
          font-size: 22px;
        }
      }

      &__description {
        color: var(--color-black);

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        margin: 0;

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 18px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 18px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 18px;
        }

        @media screen and (width < 768px) {
          font-size: 16px;
        }

        b {
          color: var(--color-orange);
          font-weight: 500;
        }
      }
    }

    &__button {
      height: 72px !important;
      padding: 0 !important;
      width: 308px !important;

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 15px !important;
        height: 56px !important;
        width: 241px !important;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        font-size: 15px !important;
        height: 56px !important;
        width: 241px !important;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 14px !important;
        height: 48px !important;
        width: 211px !important;
      }

      @media screen and (width < 768px) {
        font-size: 14px !important;
        height: 58px !important;
        width: 100% !important;
      }
    }
  }

  &__map {
    background-image: url("/images/about/map-xl.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 506px;
    width: 923px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 404px;
      width: 746px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      background-image: url("/images/about/map-md.webp");
      height: 272px;
      width: 508px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      background-image: url("/images/about/map-md.webp");
      height: 364px;
      width: 608px;
    }

    @media screen and (width < 768px) {
      background-image: url("/images/about/map-sm.webp");
      height: 364px;
      margin-left: auto;
      margin-right: -14px;
      width: 296px;
    }
  }
}
