.where {
  display: flex;
  padding: 120px 40px 120px 80px;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  border-radius: 64px;
  height: 746px;

  background: linear-gradient(
    222deg,
    rgba(228, 98, 25, 0.15) 23.1%,
    rgba(236, 125, 63, 0.15) 76.5%
  );

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      &__title {
        color: var(--color-black);

        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
      }

      &__description {
        color: var(--color-black);

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        margin: 0;

        b {
          color: var(--color-orange);
          font-weight: 500;
        }
      }
    }

    &__button {
      width: 308px !important;
      height: 72px !important;
    }
  }

  &__map {
    width: 923px;
    height: 506px;
  }
}
