{
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-css-order",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "cssDeclarationSorterOrder": "alphabetical",
  "importOrder": [
    "^react$",
    "^next/(.*)$",
    "^@/(?!.*components/ui/).*$",
    "^[./].*\\.(scss|css|module\\.scss|module\\.css)$",
    "^[./](?!.*ui/)(?!.*\\.(scss|css|module\\.scss|module\\.css)$).*$",
    "^@/components/ui/.*$",
    "^[./].*ui/.*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
