.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 978px;
  height: 791px;
  padding: 32px;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0 0 26px 0 rgb(34 32 32 / 10%);

  @media screen and (width < 1920px) {
    border-radius: 32px;
    padding: 16px 24px;
    // width: 778px;
    width: auto;
    height: 538px;
    gap: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media screen and (width < 1920px) {
      gap: 32px;
    }

    &__switcher {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      height: 68px;
      padding: 6px;
      border-radius: 20px;
      background-color: var(--color-beige);

      @media screen and (width < 1920px) {
        padding: 4px;
        height: 48px;
      }

      &__item {
        flex: 1;
        height: 100%;
        padding: 0 32px;
        border-radius: 16px;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: var(--color-text-gray-light);
        transition: background-color 0.3s ease;

        &:hover {
          color: var(--color-orange);
        }

        @media screen and (width < 1920px) {
          font-size: 16px;
        }

        &:focus-visible {
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
        }

        &:focus {
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
        }

        &__selected {
          color: var(--color-beige);
          background-color: var(--color-orange);

          &:hover {
            color: var(--color-beige);
          }
        }
      }
    }

    &__statistics {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__general {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        align-items: center;
        padding-bottom: 32px;
        border-bottom: 1px solid var(--color-border-gray);

        @media screen and (width < 1920px) {
          gap: 12px;
          padding-bottom: 20px;
        }

        &__item {
          display: flex;
          gap: 16px;
          align-items: center;

          &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 16px;
            background: rgb(236 125 63 / 20%);
            transition: background 0.3s ease;

            @media screen and (width < 1920px) {
              width: 40px;
              height: 40px;
            }

            &__image {
              width: 24px;
              height: 24px;

              @media screen and (width < 1920px) {
                width: 20px;
                height: 20px;
              }
            }
          }

          &:hover {
            .info__content__statistics__general__item__icon {
              background: var(--color-orange);
            }

            .info__content__statistics__general__item__icon__image {
              filter: brightness(0) invert(1);
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 0;

            &__title {
              font-size: 20px;
              font-weight: 500;
              line-height: 130%;
              color: var(--color-black);

              @media screen and (width < 1920px) {
                font-size: 16px;
              }
            }

            &__value {
              font-size: 18px;
              font-weight: 300;
              line-height: 150%;
              color: var(--color-text-gray);

              @media screen and (width < 1920px) {
                font-size: 15px;
              }
            }
          }
        }
      }

      &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @media screen and (width < 1920px) {
          gap: 12px;
        }

        &__item {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 24px;
          border: 1px solid var(--color-gray);
          border-radius: 32px;
          transition: border 0.3s ease;

          &:hover {
            border: 1px solid var(--color-border-gray-light);
          }

          @media screen and (width < 1920px) {
            gap: 16px;
            border-radius: 24px;
            padding: 16px;
          }

          &__image {
            width: 56px;
            height: 56px;

            @media screen and (width < 1920px) {
              width: 32px;
              height: 32px;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 4px;

            @media screen and (width < 1920px) {
              gap: 2px;
            }

            &__title {
              font-size: 20px;
              font-weight: 500;
              line-height: 130%;
              color: var(--color-black);

              @media screen and (width < 1920px) {
                font-size: 16px;
              }
            }

            &__value {
              font-size: 18px;
              font-weight: 400;
              line-height: 150%;
              color: var(--color-text-gray);

              @media screen and (width < 1920px) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  &__button {
    margin-top: auto;
  }
}
