.comparison {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__buttons {
      display: flex;
      gap: 16px;
      align-items: center;

      &__next {
        transform: rotate(180deg);
      }

      &__prev,
      &__next {
        &.iconButton_disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  &__content {
    overflow: hidden;
    display: flex;
    align-items: start;

    width: 100%;
    padding: 40px 31px;
    border-radius: 40px;

    background: #fff;
  }

  &__swiper {
    overflow: visible;

    // width: 100%;
    width: 480px;
    height: 100%;
    margin-left: 0;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-pagination {
      bottom: 10px;

      .swiper-pagination-bullet {
        opacity: 0.5;
        background: #007bff;

        &-active {
          opacity: 1;
        }
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    width: 448px;
    height: auto;
  }
}
