.quote {
  height: 676px;

  position: relative;

  @media screen and (width >= 1440px) and (width < 1920px) {
    height: 458px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    height: 427px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    height: 405px;
  }

  @media screen and (width < 768px) {
    height: 452px;
  }

  &__image {
    background-position: center;
    background-size: cover;
    border-radius: 32px;
    position: absolute;

    @media screen and (width >= 1440px) and (width < 1920px) {
      border-radius: 25px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      border-radius: 25px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      border-radius: 16px;
    }

    @media screen and (width < 768px) {
      border-radius: 12px;
    }
  }

  &__image_1 {
    background-image: url("/images/about/house-1.webp");
    height: 229px;
    left: 0;
    top: 55px;
    width: 342px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 178px;
      left: 0;
      top: 12px;
      width: 265px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 130px;
      left: 0;
      top: 12px;
      width: 194px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 96px;
      left: 0;
      top: 12px;
      width: 142px;
    }

    @media screen and (width < 768px) {
      height: 77px;
      left: 0;
      top: 0px;
      width: 114px;
    }
  }

  &__image_2 {
    background-image: url("/images/about/house-2.webp");
    height: 175px;
    left: 239px;
    top: 382px;
    width: 171px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 136px;
      left: 198px;
      top: 252px;
      width: 133px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 98px;
      left: 104px;
      top: 226px;
      width: 95px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 90px;
      left: 42px;
      top: 211px;
      width: 90px;
    }

    @media screen and (width < 768px) {
      height: 72px;
      left: 10px;
      top: 344px;
      width: 72px;
    }
  }

  &__image_3 {
    background-image: url("/images/about/house-3.webp");
    bottom: 0;
    height: 185px;
    left: 50%;
    transform: translateX(-50%);
    width: 342px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 144px;
      width: 265px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 122px;
      width: 224px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 102px;
      width: 188px;
    }

    @media screen and (width < 768px) {
      height: 58px;
      width: 106px;
    }
  }

  &__image_4 {
    background-image: url("/images/about/house-4.webp");
    height: 275px;
    right: 87px;
    top: 324px;
    width: 225px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 214px;
      right: 105px;
      top: 206px;
      width: 175px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 153px;
      right: 40px;
      top: 210px;
      width: 125px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 118px;
      right: 10px;
      top: 219px;
      width: 96px;
    }

    @media screen and (width < 768px) {
      height: 81px;
      right: 11px;
      top: 320px;
      width: 67px;
    }
  }

  &__image_5 {
    background-image: url("/images/about/house-5.webp");
    height: 171px;
    right: 229px;
    top: 39px;
    width: 170px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 132px;
      right: 194px;
      top: 0;
      width: 131px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 113px;
      right: 68px;
      top: 0px;
      width: 112px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 89px;
      right: 56px;
      top: 23px;
      width: 88px;
    }

    @media screen and (width < 768px) {
      height: 71px;
      right: 28px;
      top: 36px;
      width: 71px;
    }
  }

  &__block {
    left: 50%;
    max-width: 705px;
    position: absolute;
    top: 163px;
    transform: translateX(-50%);

    @media screen and (width >= 1440px) and (width < 1920px) {
      max-width: 477px;
      top: 91px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      max-width: 477px;
      top: 91px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      max-width: 345px;
      top: 102px;
    }

    @media screen and (width < 768px) {
      max-width: 312px;
      top: 126px;
      width: 312px;
    }

    &__mark {
      color: var(--color-orange);

      font-size: 72px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      position: absolute;

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 64px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        font-size: 48px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 48px;
      }

      @media screen and (width < 768px) {
        font-size: 32px;
      }

      &_left {
        left: 0;
        top: -50px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          top: -45px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          top: -35px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          left: -10px;
          top: -35px;
        }

        @media screen and (width < 768px) {
          left: -10px;
          top: -30px;
        }
      }

      &_right {
        bottom: -20px;
        right: -15px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          bottom: -30px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          right: 0px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          bottom: -5px;
        }

        @media screen and (width < 768px) {
          bottom: 0px;
          right: 5px;
        }
      }
    }

    &__text {
      color: var(--color-black);

      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      text-align: center;

      br {
        @media screen and (width < 1024px) {
          display: none;
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 22px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        font-size: 22px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 20px;
      }

      @media screen and (width < 768px) {
        font-size: 20px;
      }
    }
  }
}
