.actionButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  padding: 0 40px;
  border: none;
  border-radius: 40px;
  font-family: var(--font-onest);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-white);
  text-align: center;
  transition: background-color 0.3s ease;

  &_primary {
    color: var(--color-beige);
    background-color: var(--color-orange);

    &:hover {
      background-color: var(--color-orange-hover-dark);
    }
  }

  &_svg {
    margin-left: 30px;

    &_discolored {
      filter: brightness(0) invert(1);
      transition: transform 0.2s ease;
    }
  }

  &:hover &_svg {
    transform: translateX(2px);
  }

  &_secondary {
    color: var(--color-orange);
    background-color: var(--color-orange-light);

    &:hover {
      background-color: var(--color-orange-orange-200-20);
    }
  }

  &_outline {
    border: 1px solid var(--color-border-gray);
    color: var(--color-black);

    &:hover {
      border: 1px solid var(--color-gray);
    }
  }

  &_whatsap {
    min-width: 202px;
    background: var(--color-whatsapp);

    @media (width <= 1440px) {
      font-size: 15px !important;

      img {
        width: 24px;
        height: 24px;
      }
    }

    @media (width <= 950px) {
      padding: 0;
    }
  }

  &_disabled {
    pointer-events: none;
    color: var(--color-text-gray);
    background: var(--color-gray);
  }

  &_telegram {
    min-width: 202px;
    background: var(--color-telegram);

    @media (width <= 1440px) {
      font-size: 15px !important;

      img {
        width: 24px;
        height: 24px;
      }
    }

    @media (width <= 950px) {
      padding: 0;
    }
  }

  &_outline_white {
    border: 1.5px solid var(--color-gray-white);
    border-radius: 16px;
    color: var(--color-black);
    background-color: white;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--color-border-gray-hover);
    }
  }

  &_beige {
    color: var(--color-black);
    background-color: var(--color-beige);

    &:hover {
      background-color: var(--color-border-gray);
    }
  }

  &_gray {
    color: var(--color-black);
    background-color: var(--color-gray-white);

    &:hover {
      background-color: var(--color-border-gray-hover);
    }
  }

  &_small {
    font-size: 16px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 56px;
      font-size: 14px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 56px;
      font-size: 13px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 48px;
      font-size: 13px;
    }

    @media screen and (width < 768px) {
      height: 40px;
      padding: 0;
      font-size: 12px;
    }
  }

  &_medium {
    font-size: 18px;
  }

  &_large {
    font-size: 20px;
  }

  &_tiny {
    height: 56px;
    font-size: 16px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 48px;
      font-size: 14px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 40px;
      font-size: 13px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 40px;
      font-size: 13px;
    }

    @media screen and (width < 768px) {
      height: 40px;
      padding: 0;
      font-size: 12px;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-text-gray);
    background: var(--color-gray);

    &:hover {
      background-color: var(--color-gray);
    }
  }
}
