.actionButton {
  align-items: center;
  border: none;
  border-radius: 40px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-family: var(--font-onest);
  font-size: 16px;
  font-weight: 500;
  height: 64px;
  justify-content: center;
  line-height: 150%;
  padding: 0 40px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;

  &_primary {
    background-color: var(--color-orange);
    color: var(--color-beige);

    &:hover {
      background-color: var(--color-orange-hover-dark);
    }
  }

  &_svg {
    margin-left: 30px;

    &_discolored {
      filter: brightness(0) invert(1);
      transition: transform 0.2s ease;
    }
  }

  &:hover &_svg {
    transform: translateX(2px);
  }

  &_secondary {
    background-color: var(--color-orange-light);
    color: var(--color-orange);

    &:hover {
      background-color: var(--color-orange-orange-200-20);
    }
  }

  &_outline {
    border: 1px solid var(--color-border-gray);
    color: var(--color-black);

    &:hover {
      border: 1px solid var(--color-gray);
    }
  }

  &_whatsap {
    background: var(--color-whatsapp);
    min-width: 202px;
    &:active {
      background: var(--color-green-light);
    }
    @media (width <= 1440px) {
      font-size: 15px !important;

      img {
        height: 24px;
        width: 24px;
      }
    }

    @media (width <= 950px) {
      padding: 0;
    }
  }

  &_disabled {
    background: var(--color-gray);
    color: var(--color-text-gray);
    pointer-events: none;
  }

  &_telegram {
    background: var(--color-telegram);
    min-width: 202px;

    &:active {
      background: var(--color-blue);
    }
    @media (width <= 1440px) {
      font-size: 15px !important;

      img {
        height: 24px;
        width: 24px;
      }
    }

    @media (width <= 950px) {
      padding: 0;
    }
  }

  &_outline_white {
    background-color: white;
    border: 1.5px solid var(--color-gray-white);
    border-radius: 16px;
    color: var(--color-black);
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--color-border-gray-hover);
    }
  }

  &_beige {
    background-color: var(--color-beige);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-border-gray);
    }
  }

  &_gray {
    background-color: var(--color-gray-white);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-border-gray-hover);
    }
  }

  &_small {
    font-size: 16px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      font-size: 14px;
      height: 56px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      font-size: 13px;
      height: 56px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      font-size: 13px;
      height: 48px;
    }

    @media screen and (width < 768px) {
      font-size: 12px;
      height: 40px;
      padding: 0;
    }
  }

  &_medium {
    font-size: 18px;
    @media (max-width: 1919px) {
      font-size: 15px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &_large {
    font-size: 20px;
  }

  &_tiny {
    font-size: 16px;
    height: 56px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      font-size: 14px;
      height: 48px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      font-size: 13px;
      height: 40px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      font-size: 13px;
      height: 40px;
    }

    @media screen and (width < 768px) {
      font-size: 12px;
      height: 40px;
      padding: 0;
    }
  }

  &_loading {
    overflow: hidden;
    position: relative;

    &::before {
      animation: shimmer 2s infinite;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.6),
        transparent
      );
      content: "";
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &:disabled {
    background: var(--color-gray);
    color: var(--color-text-gray);
    cursor: not-allowed;

    &:hover {
      background-color: var(--color-gray);
    }
  }
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
