.w_50 {
  width: 50% !important;
}

.hideOnDesktop {
  @media screen and (width > 1023px) {
    display: none !important;
  }
}

.contactForm__phoneGroup {
  width: 50%;
}

.mt_0 {
  margin-top: 0 !important;
}

.contactForm {
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  &__contactForm {
    width: 90%;
  }
}

.position {
  top: 2px;
  right: -70px;
}

.borderRadius {
  border-radius: 16px !important;
}

@media (width <= 1024px) {
  .borderRadius {
    display: none;
  }

  .contactForm {
    width: 60%;
  }
}

@media (width <= 768px) {
  .w_50 {
    width: 100% !important;
  }

  .smallWrap {
    flex-wrap: wrap;
  }
}

@media (width <= 680px) {
  .contactForm {
    width: 100%;
  }
}
