.favourites {
  margin-top: 120px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__button {
      display: none;
      max-width: 200px;

      &__action {
        padding: 10;
      }

      @media (width <= 1023px) {
        display: block;
      }

      @media (width <= 768px) {
        display: none;
      }
    }

    @media (width <= 1023px) {
      margin-bottom: 32px;
    }
  }

  &__content {
    margin: 0 auto;
    position: relative;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &__button {
      width: 260px;

      @media (width <= 767px) {
        max-width: 260px;
        width: 100%;
      }
    }

    @media (width <= 1023px) {
      display: none;
    }

    @media (width <= 768px) {
      display: flex;
    }

    @media (width <= 767px) {
      margin-top: 24px;
    }
  }

  @media (width <= 1023px) {
    margin-top: 80px;
  }

  @media (width <= 767px) {
    margin-top: 60px;
  }
}

.swiperContainer {
  display: block;

  @media (width <= 1023px) {
    display: none;
  }
}

.swiper {
  height: 100%;
  width: 100%;

  &__slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.mobileCards {
  display: none;

  &__item {
    margin-bottom: 24px;
    pointer-events: none;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @media (width <= 767px) {
      margin-bottom: 20px;
    }
  }

  @media (width <= 1023px) {
    display: block;
  }
}

.navigationButton {
  align-items: center;
  background: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  width: 64px;
  z-index: 10;

  &::after {
    display: none;
  }

  &__icon {
    height: 32px;
    position: relative;
    width: 32px;

    &__icon_next {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .navigationButton__icon {
      filter: brightness(0) saturate(100%) invert(27%) sepia(51%)
        saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
  }
}

.navigationButtonPrev {
  left: 0;
  transform: translateX(-50%) translateY(-22.5px);
}

.navigationButtonNext {
  right: 0;
  transform: translateX(50%) translateY(-22.5px);
}
