.favourites {
  margin-top: 120px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__button {
      display: none;
      max-width: 200px;

      &__action {
        padding: 10;
      }

      @media (width <= 1023px) {
        display: block;
      }

      @media (width <= 768px) {
        display: none;
      }
    }

    @media (width <= 1023px) {
      margin-bottom: 32px;
    }
  }

  &__content {
    margin: 0 auto;
    position: relative;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &__button {
      width: 260px;

      @media (width <= 767px) {
        max-width: 260px;
        width: 100%;
      }
    }

    @media (width <= 1023px) {
      display: none;
    }

    @media (width <= 768px) {
      display: flex;
    }

    @media (width <= 767px) {
      margin-top: 24px;
    }
  }

  @media (width <= 1023px) {
    margin-top: 80px;
  }

  @media (width <= 767px) {
    margin-top: 60px;
  }
}

.loading {
  align-items: center;
  color: var(--color-text-secondary);
  display: flex;
  font-size: 16px;
  justify-content: center;
  min-height: 200px;
  text-align: center;
}

.skeletonContainer {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  // max-width: 1200px;

  @media (width <= 1023px) {
    gap: 24px;
  }

  @media (width <= 767px) {
    display: block;
    gap: 20px;
  }
}

.skeletonCard {
  background: var(--color-white);
  border-radius: 40px;
  height: 728px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__image {
    border-radius: 40px;
    margin-bottom: 0;
  }

  &__content {
    margin: auto;
    margin-top: 20px;
    padding: 0 40px;
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__price {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-bottom: 0;
  }

  &__location {
    display: flex;
    gap: 12px;
  }

  &__divider {
    border-bottom: 1px solid var(--color-gray);
    margin: 32px 0 24px;
    width: 100%;
  }

  &__specifications {
    margin-bottom: 50px;
    width: 100%;
  }

  &__specification {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    height: 594px;

    &__image {
      height: 480px;
    }

    &__content {
      margin-top: 23px;
      padding: 0 32px;
    }

    &__divider {
      margin: 24px 0 20px;
    }

    &__actions {
      gap: 12px;
      margin-top: 30px;
    }
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    height: 570px;

    &__image {
      height: 260px;
    }

    &__content {
      margin-top: 15px;
      padding: 0 24px;
    }

    &__row {
      flex-direction: column;
      gap: 4px;
    }

    &__divider {
      margin: 16px 0;
    }

    &__actions {
      gap: 8px;
      margin-top: 30px;
    }
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    height: 643px;

    &__image {
      height: 360px;
    }

    &__content {
      margin-top: 15px;
      padding: 0 24px;
    }

    &__divider {
      margin: 16px 0;
    }

    &__actions {
      gap: 8px;
      margin-top: 30px;
    }
  }

  @media screen and (width < 768px) {
    border-radius: 32px;
    height: auto;
    margin-bottom: 20px;
    min-height: 555px;

    &__image {
      border-radius: 32px;
      height: 220px;
    }

    &__content {
      margin-top: 11px;
      padding: 0 16px;
    }

    &__row {
      flex-direction: column;
      gap: 4px;
      margin-top: 12px;
    }

    &__divider {
      margin: 16px 0;
    }

    &__actions {
      gap: 8px;
      margin-top: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.swiperContainer {
  display: block;

  @media (width <= 1023px) {
    display: none;
  }
}

.swiper {
  height: 100%;
  width: 100%;

  &__slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.mobileCards {
  display: none;

  &__item {
    margin-bottom: 24px;
    pointer-events: none;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @media (width <= 767px) {
      margin-bottom: 20px;
    }
  }

  @media (width <= 1023px) {
    display: block;
  }
}

.navigationButton {
  align-items: center;
  background: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  width: 64px;
  z-index: 10;

  &::after {
    display: none;
  }

  &__icon {
    height: 32px;
    position: relative;
    width: 32px;

    &__icon_next {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .navigationButton__icon {
      filter: brightness(0) saturate(100%) invert(27%) sepia(51%)
        saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
  }
}

.navigationButtonPrev {
  left: 0;
  transform: translateX(-50%) translateY(-22.5px);
}

.navigationButtonNext {
  right: 0;
  transform: translateX(50%) translateY(-22.5px);
}
