.filterBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 24px;
    padding-top: 24px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    gap: 20px;
    padding-top: 20px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    gap: 20px;
    padding-top: 40px;
  }

  @media screen and (width < 768px) {
    gap: 24px;
    padding-top: 20px;
  }

  &__title {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      margin-bottom: 20px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      margin-bottom: 16px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      margin-bottom: 0;
    }

    @media screen and (width < 768px) {
      margin-bottom: 0px;
    }

    &__heading {
      align-items: center;
      color: var(--color-orange) !important;
      display: flex;
      gap: 16px;
    }

    &__close {
      background-color: transparent;
      border: none;
      height: 32px;
      width: 32px;

      &:focus {
        outline: none !important;
      }

      &__icon {
        height: 32px;
        width: 32px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          display: none;
        }

        @media screen and (width < 768px) {
          display: none;
        }
      }
    }

    &__back {
      background-color: transparent;
      border: none;
      height: 32px;
      margin-right: auto;
      width: 32px;

      &:focus {
        outline: none !important;
      }

      &__icon {
        height: 32px;

        transform: rotate(180deg);
        width: 32px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          height: 20px;
          width: 20px;
        }

        @media screen and (width < 768px) {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  &__sectionType {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__item {
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      gap: 16px;
      height: 56px;
      padding: 0 16px;
      transition: background-color 0.2s ease;

      &:hover {
        // background-color: var(--color-beige, #f5f5f5);
        .houseTypeDropdown__checkbox {
          border: 1.5px solid var(--color-black);
        }
      }

      &__label {
        color: var(--color-black);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        user-select: none;
      }
    }

    &__checkboxWrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
    }

    &__checkbox {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: white;
      border: 1.5px solid var(--color-text-gray-light);
      border-radius: 5px;
      cursor: pointer;
      height: 24px;
      position: relative;
      transition: all 0.2s ease;
      width: 24px;

      &:checked {
        background: var(--color-orange);
        border-color: var(--color-orange);
      }

      // &:focus {
      //   outline: 2px solid var(--color-orange);
      //   outline-offset: 2px;
      // }
    }

    &__checkboxIcon {
      height: 12px;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
    }
  }

  &__section {
    align-items: flex-start;
    display: flex;
    gap: 120px;

    @media screen and (width >= 768px) and (width < 1920px) {
      gap: 80px;
    }

    @media screen and (width < 768px) {
      flex-direction: column;
      gap: 12px;
    }

    &_start {
      align-items: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__type {
      align-items: center;
      background: #f8f8f8;
      border: 1px solid var(--Grey-Grey-300, #e9e9e9);
      border-radius: 20px;
      color: var(--color-black);
      cursor: pointer;
      display: flex;
      flex: 1 0 0;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      height: 56px;
      justify-content: space-between;
      line-height: 150%;

      overflow: hidden;
      padding: 0 24px;

      &__icon {
        height: 20px;
        width: 20px;
      }
    }

    &__label {
      color: var(--color-black);
      flex-shrink: 0;

      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;

      width: 205px;

      @media screen and (width >= 768px) and (width < 1920px) {
        font-size: 15px;
        width: 171px;
      }

      @media screen and (width < 768px) {
        font-size: 14px;
        width: 100%;
      }
    }

    &__options {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      gap: 12px;

      @media screen and (width < 1024px) {
        gap: 8px;
      }
    }

    &__optionsRange {
      align-items: start;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 12px;

      @media screen and (width < 1024px) {
        gap: 8px;
      }

      &__range {
        flex: 1;
      }

      &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @media screen and (width < 1024px) {
          gap: 8px;
        }
      }
    }

    &__range {
      flex: 1;
    }

    &__metro {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__transportOptions {
        align-items: center;
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr;

        @media screen and (width < 1024px) {
          gap: 8px;
        }
      }
    }
  }
}
