.filterBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 24px;
    padding-top: 24px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    gap: 20px;
    padding-top: 20px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    gap: 20px;
    padding-top: 40px;
  }

  @media screen and (width < 768px) {
    gap: 24px;
    padding-top: 20px;
  }

  &__title {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      margin-bottom: 20px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      margin-bottom: 16px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      margin-bottom: 0;
    }

    @media screen and (width < 768px) {
      margin-bottom: 0px;
    }

    &__heading {
      color: var(--color-orange) !important;
    }

    &__close {
      background-color: transparent;
      border: none;
      height: 32px;
      width: 32px;

      &__icon {
        height: 32px;
        width: 32px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          display: none;
        }

        @media screen and (width < 768px) {
          display: none;
        }
      }
    }
  }

  &__section {
    align-items: flex-start;
    display: flex;
    gap: 120px;

    @media screen and (width >= 768px) and (width < 1920px) {
      gap: 80px;
    }

    @media screen and (width < 768px) {
      flex-direction: column;
      gap: 12px;
    }

    &_start {
      align-items: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__label {
      color: var(--color-black);
      flex-shrink: 0;

      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;

      width: 205px;

      @media screen and (width >= 768px) and (width < 1920px) {
        font-size: 15px;
        width: 171px;
      }

      @media screen and (width < 768px) {
        font-size: 14px;
        width: 100%;
      }
    }

    &__options {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      gap: 12px;

      @media screen and (width < 1024px) {
        gap: 8px;
      }
    }

    &__optionsRange {
      align-items: start;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 12px;

      @media screen and (width < 1024px) {
        gap: 8px;
      }

      &__range {
        flex: 1;
      }

      &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @media screen and (width < 1024px) {
          gap: 8px;
        }
      }
    }

    &__range {
      flex: 1;
    }

    &__metro {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__transportOptions {
        align-items: center;
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr;

        @media screen and (width < 1024px) {
          gap: 8px;
        }
      }
    }
  }
}
