.sendSellApp {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;

    &__leftSide {
      width: 600px;

      &__header {
        font-size: 34px;
      }
    }
  }
}
