.about {
  display: flex;
  gap: 180px;

  &__title {
    width: 538px;
    font-weight: 400;
  }

  &__content {
    display: flex;
    flex: 1;
    gap: 64px;

    &__number {
      display: flex;
      flex-direction: column;
      gap: 45px;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;

        margin-top: 6px;

        &__number {
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
          color: var(--color-black);
        }

        &__line {
          width: 2px;
          height: 86px;
          background-color: var(--color-border-gray-light);
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 128px;

        &__title {
          font-size: 28px;
          font-weight: 400;
          line-height: 130%;
          color: var(--color-black);
        }

        &__text {
          margin: 0;

          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: var(--color-text-gray);
        }
      }
    }
  }
}
