.partners {
  margin: 120px 0;

  &__logos {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 24px;

    &__item {
      grid-column: auto / span 3;
      height: 200px;
      border-radius: 10px;
      background-color: var(--color-white);
    }

    &__item:nth-child(n + 6):nth-child(-n + 8) {
      grid-column: auto / span 5;
    }
  }
}
