.partners {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;

  &__logos {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 24px;

    &__item {
      grid-column: auto / span 3;

      height: 200px;
      border-radius: 40px;

      background-color: var(--color-border-gray);
      background-repeat: no-repeat;
      background-position: center;
    }

    &__item:nth-child(n + 6):nth-child(-n + 8) {
      grid-column: auto / span 5;
    }
  }
}
