.property_card_list {
  overflow: hidden;
  display: flex;
  gap: 48px;

  height: 520px;
  border-radius: 40px;

  background-color: #fff;

  &__image {
    overflow: hidden;

    width: 660px;
    height: 100%;
    border-radius: 40px;

    object-fit: cover;

    @media screen and (width >= 1440px) and (width < 1920px) {
      min-width: 375px;
    }
  }

  &__content {
    display: flex;
    gap: 40px;
    padding: 32px 32px 32px 0;

    &__separator {
      width: 1px;
      height: 100%;
      background-color: var(--color-gray);
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 32px;

      width: 555px;
      height: 100%;

      &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__title {
          font-size: 28px;
          font-weight: 500;
          line-height: 130%;
          color: var(--text-black);

          @media screen and (width >= 1440px) and (width < 1920px) {
            font-size: 20px;
          }
        }

        &__location {
          display: flex;
          flex-direction: column;
          gap: 8px;

          &__adress {
            display: flex;
            gap: 12px;
            align-items: center;

            margin: 0;

            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            color: var(--color-text-gray-dark);

            &__button {
              display: flex;
              gap: 4px;
              align-items: center;

              font-size: 16px;
              font-weight: 400;
              line-height: 150%;
              color: var(--color-orange);

              &__icon {
                width: 20px;
                height: 20px;
              }

              @media screen and (width >= 1440px) and (width < 1920px) {
                font-size: 14px;
              }
            }

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 14px;
            }
          }

          &__way {
            display: flex;
            gap: 8px;
            align-items: center;

            &__item {
              display: flex;
              gap: 8px;
              align-items: center;

              &__icon {
                width: 24px;
                height: 24px;

                &_metro {
                  width: 28px;
                  height: 28px;
                }
              }

              &__text {
                font-size: 16px;
                font-weight: 300;
                line-height: 150%;
                color: var(--color-text-gray);

                @media screen and (width >= 1440px) and (width < 1920px) {
                  font-size: 14px;
                }
              }
            }
          }

          @media screen and (width >= 1440px) and (width < 1920px) {
            gap: 4px;
          }
        }

        @media screen and (width >= 1440px) and (width < 1920px) {
          gap: 12px;
        }
      }

      &__specifications {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px 8px;

        &__item {
          display: flex;
          flex-direction: column;
          gap: 4px;

          &__name {
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            color: var(--color-black);

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 14px;
            }
          }

          &__price {
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            color: var(--color-text-gray);

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 14px;
            }
          }
        }
      }

      &__description {
        display: flex;
        gap: 32px;

        margin-top: auto;
        padding-top: 32px;
        border-top: 1px solid var(--color-gray);

        &__item {
          display: flex;
          flex-direction: column;
          gap: 4px;
          width: 126px;

          &:nth-child(4) {
            width: 78px;
          }

          &__type {
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            color: var(--color-text-gray);

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 14px;
            }
          }

          &__status {
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            color: var(--color-black);

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 14px;
            }
          }

          @media screen and (width >= 1440px) and (width < 1920px) {
            width: 113px;
          }
        }

        @media screen and (width >= 1440px) and (width < 1920px) {
          gap: 24px;
          padding-top: 16px;
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        flex: 1;
        gap: 24px;
        width: auto;
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 306px;

      &__price {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &__value {
          display: flex;
          justify-content: space-between;

          &__header {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &__number {
              font-size: 24px;
              font-weight: 400;
              line-height: 120%;
              color: var(--color-black);

              @media screen and (width >= 1440px) and (width < 1920px) {
                font-size: 20px;
              }
            }

            &__description {
              width: fit-content;
              padding: 4px 8px;
              border-radius: 64px;

              font-size: 12px;
              font-weight: 400;
              line-height: 150%;
              color: var(--color-text-gray-dark);
              text-align: center;

              background: var(--color-beige);
              backdrop-filter: blur(8px);
            }
          }
        }

        &__mortgage {
          display: flex;
          flex-direction: column;
          gap: 16px;

          &__price {
            width: 100%;
            height: 40px;
            padding: 8px 0;

            @media screen and (width >= 1440px) and (width < 1920px) {
              height: 37px;
            }
          }

          &__description {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &__header {
              font-size: 16px;
              font-weight: 400;
              line-height: 150%;
              color: var(--color-black);

              @media screen and (width >= 1440px) and (width < 1920px) {
                font-size: 14px;
              }
            }

            &__text {
              margin: 0;
              font-size: 16px;
              font-weight: 300;
              color: var(--color-text-gray);

              @media screen and (width >= 1440px) and (width < 1920px) {
                font-size: 14px;
              }
            }

            @media screen and (width >= 1440px) and (width < 1920px) {
              gap: 0;
            }
          }

          @media screen and (width >= 1440px) and (width < 1920px) {
            gap: 12px;
          }
        }

        @media screen and (width >= 1440px) and (width < 1920px) {
          gap: 24px;
        }
      }

      &__builder {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: auto;

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__title {
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            color: var(--color-black);

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 14px;
            }
          }

          &__icon {
            width: 48px;
            height: 48px;

            @media screen and (width >= 1440px) and (width < 1920px) {
              width: 40px;
              height: 40px;
            }
          }
        }

        &__buttons {
          display: flex;
          flex-direction: column;
          gap: 12px;

          &__more {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            &__button {
              height: 56px;
              padding: 0;

              @media screen and (width >= 1440px) and (width < 1920px) {
                height: 48px;
              }
            }
          }
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 0;
      }
    }

    @media screen and (width >= 1440px) and (width < 1920px) {
      flex: 1;
      gap: 0 32px;
      justify-content: space-between;
      padding: 32px 24px 32px 0;
    }
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 32px;
    height: 428px;
  }
}
