.favouritesWrapper {
  display: flex;
  gap: 40px;
  height: 900px;
  margin-bottom: 120px;

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 32px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    flex-direction: column;
    gap: 24px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    flex-direction: column;
    gap: 16px;
  }

  @media screen and (width < 768px) {
    flex-direction: column;
    gap: 16px;
  }
}
