.catalogue {
  &__filters {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 96px;
      padding: 12px;
      border-radius: 80px;

      background: var(--color-white);

      &__inputs {
        display: flex;
        flex: 1;
        gap: 16px;
        align-items: center;
      }

      &__select {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;

        width: 240px;
        height: 24px;
        padding-right: 16px;
        padding-left: 16px;
        border-right: 2px solid var(--color-gray-white);
        border-left: 2px solid var(--color-gray-white);

        &__text {
          padding-left: 24px;
          font-size: 18px;
          font-weight: 400;
          color: var(--color-text-gray);

          @media (width <= 1920px) {
            font-size: 15px;
          }

          @media (width <= 1440px) {
            width: 110px;
          }
        }

        &__icon {
          width: 12px;
          height: 8px;
          margin-right: 16px;
        }

        @media (width <= 768px) {
          display: none;
        }

        @media (width <= 1090px) {
          padding-left: 0;
        }
      }

      &__search {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;

        margin-left: 24px;

        &__icon {
          width: 24px;
          height: 24px;
        }

        input {
          width: 324px;
          border: none;
          outline: none;

          @media (width <= 1440px) {
            width: 263px;
          }
        }

        input:focus {
          border: none;
          color: var(--color-black);
          outline: none;
        }

        &__text {
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: var(--color-text-gray);

          @media (width <= 1920px) {
            font-size: 15px;
          }
        }
      }

      &__buttonsDesktop {
        display: flex;
        gap: 16px;

        span {
          @media (width <= 1920px) {
            display: none;
          }
        }

        &__button {
          &__show {
            flex: 1;
            font-size: 18px !important;
            font-weight: 400 !important;
            line-height: 150%;
          }
        }

        @media (width <= 1090px) {
          display: none;
        }
      }

      @media (width <= 1090px) {
        padding: 24px;
      }
    }
  }
}

.filterSvg {
  @media (width <= 1920px) {
    width: 22;
    height: 22;
  }

  @media (width <= 1440px) {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
