.dropdown {
  display: flex;
  gap: 49px;
  align-items: center;
  justify-content: space-between;

  height: 72px;
  padding: 0 40px;
  border: 1.5px solid var(--color-gray-white);
  border-radius: 16px;

  font-family: var(--font-onest);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-black);

  background-color: white;

  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--color-border-gray-hover);
  }

  &__text {
    display: flex;
    gap: 12px;
    align-items: center;

    @media screen and (width < 768px) {
      gap: 6px;
    }

    @media screen and (width >= 768px) and (width < 1920px) {
      gap: 8px;
    }
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 23px;
    height: 56px;
    padding: 0 32px;
    font-size: 15px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    gap: 54px;
    height: 56px;
    padding: 0 32px;
    font-size: 15px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    justify-content: space-between;

    width: 100%;
    height: 56px;
    padding: 0 32px;

    font-size: 15px;
  }

  @media screen and (width < 768px) {
    justify-content: space-between;

    width: 100%;
    height: 48px;
    padding: 0 24px;

    font-size: 15px;
  }
}

.Trigger {
  all: unset;

  gap: 5px;

  height: 35px;
  padding: 0 15px;
  border-radius: 4px;

  font-size: 13px;
  line-height: 1;
}

.icon {
  width: 32px;
  height: 32px;

  @media screen and (width >= 768px) and (width < 1920px) {
    width: 28px;
    height: 28px;
  }

  @media screen and (width < 768px) {
    width: 24px;
    height: 24px;
  }
}

.iconDropdown {
  width: 16px;
  height: 16px;
}

.Content {
  overflow: hidden;

  width: 100%;
  border-radius: 6px;

  background-color: var(--color-beige);
  box-shadow: 0 4px 3px 2px #0000001a;
}

.Viewport {
  padding: 5px;
}

.Item {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 35px 0 25px;
  border-radius: 3px;

  font-size: 13px;
  line-height: 1;

  &[data-disabled] {
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
  }
}

.Label {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.ItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.ScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: var(--violet-11);

  background-color: white;
}
