.favouritesActions {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 440px;

  @media screen and (width >= 1440px) and (width < 1920px) {
    width: 356px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    width: 100%;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    width: 100%;
  }

  @media screen and (width < 768px) {
    width: 100%;
  }
}
