.dropdown {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 72px;
  padding: 24px 32px;
  border: 1.5px solid var(--color-border-gray-light);
  border-radius: 16px;

  font-family: var(--font-onest);
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: var(--color-text-gray);

  background-color: transparent;

  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--color-border-gray-hover);
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    height: 64px;
    padding: 19px 24px;
    font-size: 16px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    height: 56px;
    padding: 17px 24px;
    font-size: 16px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    height: 48px;
    padding: 17px 24px;
    border-radius: 12px;
    font-size: 14px;
  }

  @media screen and (width < 768px) {
    height: 48px;
    padding: 17px 24px;
    border-radius: 12px;
    font-size: 14px;
  }
}

.label {
  position: absolute;
  top: -14px;
  left: 18px;

  float: none;

  width: fit-content;
  padding: 0 12px;

  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);

  background-color: white;

  @media screen and (width >= 1440px) and (width < 1920px) {
    left: 16px;
    padding: 0 8px;
    font-size: 14px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    left: 16px;
    padding: 0 8px;
    font-size: 14px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    top: -11px;
    left: 14px;
    padding: 0 8px;
    font-size: 12px;
  }

  @media screen and (width < 768px) {
    top: -10px;
    left: 14px;
    padding: 0 8px;
    font-size: 11px;
  }
}

.Trigger {
  all: unset;

  gap: 5px;

  height: 35px;
  padding: 0 15px;
  border-radius: 4px;

  font-size: 13px;
  line-height: 1;
}

.Content {
  overflow: hidden;

  width: var(--radix-select-trigger-width);
  border-radius: 6px;
  border-radius: 0 0 16px 16px;

  background-color: white;
  box-shadow: 0 4px 3px 2px #0000001a;
}

.Viewport {
  padding: 5px;
}

.Item {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 65px;
  padding: 0 35px 0 25px;

  font-size: 13px;
  line-height: 1;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-beige);
  }

  &[data-disabled] {
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
  }
}

.Label {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
}

.ItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.ScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: var(--violet-11);

  background-color: white;
}
