.work {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 120px;

  &__header {
    &__h2 {
      @media (width < 1920px) {
        font-size: 22px !important;
      }

      @media (width < 1024px) {
        font-size: 20px !important;
      }
    }

    &__navigation {
      display: none;

      @media (width < 768px) {
        display: flex;
        gap: 30px;
        align-items: center;
      }
    }

    @media (width < 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__content {
    position: relative;


    &__item {
      display: flex;
      gap: 80px;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 110px;

      @media (width < 1920px) {
        padding: 0 74px;
        gap: 64px;
      }
      @media (width < 1440px) {
        padding: 0 40px;
        gap: 24px;
      }

      &__image {
        overflow: hidden;
        width: 707px;
        height: 532px;
        border-radius: 500px;

        @media (width < 1920px) {
          width: 570px;
          height: 444px;
        }
        @media (width < 1440px) {
          width: 430px;
          height: 310px;
        }
        @media (width < 1024px) {
          width: 492px;
          height: 355px;
        }
        @media (width < 768px) {
          width: 328px;
          height: 236px;
        }
      }

      &__content {
        width: 672px;
        @media (width < 1920px) {
          width: auto;
        }
        &__title {
          font-size: 34px;
          font-weight: 400;
          line-height: 130%;
          color: var(--color-orange);

          @media (width < 1920px) {
            font-size: 22px;
          }
        }

        &__description {
          margin: 0;
          font-size: 34px;
          font-weight: 500;
          line-height: 130%;
          color: var(--color-black);

          @media (width < 1920px) {
            font-size: 22px;
            width: 498px;
          }
          @media (width < 1440px) {
            width: 374px;
          }
          @media (width < 1024px) {
            width: 100%;
            font-size: 20px;
          }
        }
      }

    }

    @media (width < 1024px) {
      &__item {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
        text-align: center;

        &__image {
          width: 100%;
          height: 300px;
          margin: 0 auto;

          @media (width < 1920px) {
            width: 570px;
            height: 444px;
          }

          @media (width < 1440px) {
            width: 430px;
            height: 310px;
          }

          @media (width < 1024px) {
            width: 492px;
            height: 355px;
          }

          @media (width < 768px) {
            width: 328px;
            height: 236px;
          }
        }

        &__content {

          &__title {
            font-size: 20px;
          }

          &__description {
            max-width: 600px;
            font-size: 20px;
          }
        }

        @media (width < 768px) {
          padding: 0;
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navigationButton {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--color-white);
  transition: all 0.3s ease;

  &::after {
    display: none;
  }

  &__icon {
    position: relative;
    width: 32px;
    height: 32px;

    &__icon_next {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .navigationButton__icon {
      filter: brightness(0) saturate(100%) invert(48%) sepia(79%)
        saturate(2476%) hue-rotate(346deg) brightness(118%) contrast(119%);
    }
  }
}

.navigationButtonMobile {
  @media (width < 768px) {
    position: static !important;
    transform: none !important;
    width: 40px;
    height: 40px;
    margin-top: 5px;

    .navigationButton__icon {
      width: 24px;
      height: 24px;
    }
  }

  @media (width > 768px) {
    display: none !important;
  }
}

.navigationButtonDesktop {
  @media (width < 768px) {
    display: none !important;
  }
}

.navigationButtonPrev {
  left: 0;
  transform: translateX(-50%) translateY(-22.5px);

  &.navigationButtonMobile {
    @media (width < 768px) {
      left: auto;
      transform: none;
    }
  }
}

.navigationButtonNext {
  right: 0;
  transform: translateX(50%) translateY(-22.5px);

  &.navigationButtonMobile {
    @media (width < 768px) {
      right: auto;
      transform: none;
    }
  }
}
