.property_card {
  background-color: white;
  border-radius: 40px;

  height: 728px;
  margin-bottom: 24px;

  overflow-y: hidden;
  position: relative;

  @media screen and (width >= 1440px) and (width < 1920px) {
    height: 594px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    height: 570px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    height: 643px;
  }

  @media screen and (width < 768px) {
    border-radius: 32px;
    height: auto;
    min-height: 555px;
  }

  &_map {
    height: 802px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 646px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 646px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      border-radius: 40px 40px 0 0;
      height: 659px;
      margin-bottom: 0 !important;
    }

    @media screen and (width < 768px) {
      border-radius: 40px 40px 0 0;
      height: 579px;
      margin-bottom: 0 !important;
    }
  }

  &__content {
    margin: auto;
    margin-top: 20px;
    padding: 0 40px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      margin-top: 23px;
      padding: 0 32px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      margin-top: 15px;
      padding: 0 24px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      margin-top: 15px;
      padding: 0 24px;
    }

    @media screen and (width < 768px) {
      margin-top: 11px;
      padding: 0 16px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &_title {
      align-items: center;
    }

    &_subtitle {
      margin-top: 8px;

      @media screen and (width >= 1024px) and (width < 1440px) {
        flex-direction: column;
        gap: 4px;
      }

      @media screen and (width < 768px) {
        flex-direction: column;
        gap: 4px;
        margin-top: 12px;
      }

      &_map {
        flex-direction: column;
        gap: 12px;

        @media screen and (width >= 768px) and (width < 1024px) {
          flex-direction: row;
        }
      }
    }
  }

  &__image > img {
    border-radius: 40px;
    height: 600px;

    object-fit: cover;
    object-position: center;
    overflow: hidden;

    transition: height 0.5s ease-in-out;

    width: 100%;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 480px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 260px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 360px;
    }

    @media screen and (width < 768px) {
      border-radius: 32px;
      height: 220px;
    }
  }

  &__image_map > img {
    height: 354px !important;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 239px !important;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 260px !important;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 360px !important;
    }

    @media screen and (width < 768px) {
      height: 220px !important;
    }
  }

  &:hover &__image > img {
    height: 360px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      height: 281px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      height: 260px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      height: 360px;
    }

    @media screen and (width < 768px) {
      height: 220px;
    }
  }

  &__badge {
    color: white;

    display: flex;
    gap: 6px;
    left: 24px;
    position: absolute;
    top: 24px;

    span {
      backdrop-filter: blur(10px);

      background: rgb(0 0 0 / 40%);
      border-radius: 64px;

      font-size: 16px;
      font-weight: 300;
      line-height: 150%;
      padding: 8px 16px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 14px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        font-size: 14px;
        padding: 8px 12px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 14px;
        padding: 8px 12px;
      }

      @media screen and (width < 768px) {
        font-size: 13px;
        padding: 8px 12px;
      }
    }

    @media screen and (width < 768px) {
      left: 16px;
      top: 16px;
    }
  }

  &__title {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;

    @media screen and (width >= 1440px) and (width < 1920px) {
      font-size: 18px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      font-size: 18px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      font-size: 18px;
    }

    @media screen and (width < 768px) {
      font-size: 16px;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;

    @media screen and (width >= 1440px) and (width < 1920px) {
      font-size: 20px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      font-size: 18px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      font-size: 18px;
    }

    @media screen and (width < 768px) {
      font-size: 16px;
    }
  }

  &__subtitle {
    color: var(--color-text-black);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

    @media screen and (width >= 1440px) and (width < 1920px) {
      font-size: 16px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      font-size: 15px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      font-size: 15px;
    }

    @media screen and (width < 768px) {
      font-size: 14px;
    }
  }

  &__location {
    display: flex;
    gap: 12px;

    &__item {
      align-items: center;
      color: var(--color-text-gray);
      display: flex;

      font-size: 18px;
      font-weight: 300;
      gap: 10px;

      &__icon {
        height: 24px;
        width: 24px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          height: 24px;
          width: 24px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          height: 20px;
          width: 20px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          height: 20px;
          width: 20px;
        }

        @media screen and (width < 768px) {
          height: 20px;
          width: 20px;
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 15px;
        gap: 8px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        font-size: 15px;
        gap: 4px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 15px;
        gap: 4px;
      }

      @media screen and (width < 768px) {
        font-size: 14px;
        gap: 4px;
      }
    }
  }

  &__icon {
    height: 24px !important;
    width: 24px !important;
  }

  &__divider {
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: 24px;
    margin-top: 32px;
    width: 100%;

    @media screen and (width >= 1440px) and (width < 1920px) {
      margin: 24px 0 20px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      margin: 16px 0;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      margin: 16px 0;
    }

    @media screen and (width < 768px) {
      margin: 16px 0;
    }

    &_map {
      margin-bottom: 24px;
      margin-top: 24px;
    }
  }

  &__specifications {
    width: 100%;

    &__list {
      display: grid;
      gap: 8px 80px;
      grid-template-columns: 1fr 1fr;
      width: 90%;

      &_map {
        gap: 8px;
        grid-template-columns: 1fr;

        @media screen and (width >= 768px) and (width < 1024px) {
          gap: 8px 48px;
          grid-template-columns: 1fr 1fr;
        }
      }

      &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;

        &__type {
          color: var(--color-black);
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;

          @media screen and (width >= 1440px) and (width < 1920px) {
            font-size: 14px;
          }

          @media screen and (width >= 1024px) and (width < 1440px) {
            font-size: 15px;
          }

          @media screen and (width >= 768px) and (width < 1024px) {
            font-size: 15px;
          }

          @media screen and (width < 768px) {
            font-size: 14px;
          }
        }

        &__price {
          color: var(--color-black);
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          white-space: nowrap;

          @media screen and (width >= 1440px) and (width < 1920px) {
            font-size: 14px;
          }

          @media screen and (width >= 1024px) and (width < 1440px) {
            font-size: 15px;
          }

          @media screen and (width >= 768px) and (width < 1024px) {
            font-size: 15px;
          }

          @media screen and (width < 768px) {
            font-size: 14px;
          }
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 8px 80px;
        width: 100%;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        gap: 8px 40px;
        width: 100%;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        gap: 8px 80px;
        width: 75%;
      }

      @media screen and (width < 768px) {
        gap: 6px;
        grid-template-columns: 1fr;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 50px;

    &_map {
      margin-top: 40px;
    }

    &__button {
      flex: 1;

      @media (width <= 470px) {
        flex: 0.5;
      }

      &_map {
        @media (width <= 470px) {
          flex: 1 !important;
        }
      }
    }

    @media screen and (width >= 1440px) and (width < 1920px) {
      gap: 12px;
      margin-top: 30px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 8px;
      margin-top: 30px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      gap: 8px;
      margin-top: 30px;
    }

    @media screen and (width < 768px) {
      gap: 8px;
      margin-top: 20px;
    }
  }

  &__button {
    border: none;
    border-radius: 40px;

    font-size: 16px;
    font-weight: 600;
    height: 56px;
    width: 326px;

    &_primary {
      background: rgb(236 125 63 / 100%);
      color: white;
    }

    &_secondary {
      background: none;
      border: 1.5px rgb(233 233 233 / 100%) solid;
    }
  }

  &__favorite {
    background: none;
    border: 1.5px rgb(233 233 233 / 100%) solid;
    border-radius: 40px;
    display: flex;
    height: 56px;

    width: 56px;

    svg {
      height: 25px;
      margin: auto;
      width: 25px;
    }
  }
}
