.comparisonCards {
  padding-right: 32px;
  border-right: 1px solid var(--color-gray-white);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: flex-start;

    width: 448px;

    &__heading {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;

      &__image {
        position: relative;

        overflow: hidden;

        aspect-ratio: 56/41;
        width: 100%;
        border-radius: 24px;

        &__icon {
          width: 100%;
          height: 100%;
        }

        &__delete {
          position: absolute;
          top: 24px;
          right: 24px;

          &__icon {
            width: 24px;
            height: 24px;
          }
        }
      }

      &__imageFlat {
        position: relative;

        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 56/41;
        width: 100%;
        border: 1px solid var(--color-gray-white);
        border-radius: 24px;

        &__icon {
          width: 274px;
          height: 259px;
        }

        &__delete {
          position: absolute;
          top: 24px;
          right: 24px;

          &__icon {
            width: 24px;
            height: 24px;
          }
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;

        &__address {
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          line-height: 150%;
          color: var(--color-text-gray);
        }
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;

      &__title {
        display: flex;
        align-items: center;
        justify-content: start;

        height: 50px;
        margin: 0 -31px;
        padding: 0 31px;

        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 150%;
        color: var(--color-text-black);

        background: var(--color-beige-light);
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        list-style: none;

        &__item {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: space-between;

          &::before {
            content: "";

            position: absolute;
            left: -14px;
            transform: translateX(-50%);

            width: 8px;
            height: 8px;
            margin-top: 0;
            border-radius: 50%;

            background-color: var(--color-orange);
          }

          &__title {
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            line-height: 150%;
            color: var(--color-text-gray);
          }

          &__value {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            line-height: 150%;
            color: var(--color-black);

            &__complex {
              display: flex;
              gap: 12px;
              align-items: center;

              &__icon {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                object-fit: cover;
              }

              &__info {
                display: flex;
                gap: 8px;

                &__name {
                  font-size: 18px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: 150%;
                  color: var(--color-black);
                }

                &__time {
                  font-size: 18px;
                  font-weight: 500;
                  font-style: normal;
                  line-height: 150%;
                  color: var(--color-black);
                }
              }
            }
          }
        }
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;

      &__value {
        display: flex;
        gap: 12px;
        align-items: end;
        justify-content: space-between;

        &__price {
          font-size: 28px;
          font-weight: 500;
          font-style: normal;
          line-height: 130%;
          color: var(--color-black);
        }

        &__pricePerMonth {
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: var(--color-text-gray);
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
  }
}
