.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  background: var(--color-orange);
  cursor: pointer;
  transition: all 0.2s ease;
  
  &:hover {
    background: var(--color-orange-hover);
  }
  
  &:active {
    transform: translateY(0);
  }
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
  }
  
  &__icon {
    transition: transform 0.2s ease;
    filter: brightness(0) invert(1); // Делаем иконку белой
  }
  
  &:hover &__icon {
    transform: translateX(2px);
  }
  
  &_small {
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }
  
  &_medium {
    width: 60px;
    height: 60px;
    border-radius: 18px;
  }
  
  &_large {
    width: 80px;
    height: 80px;
    border-radius: 24px;
  }
  
  &_absolute {
    position: absolute;
  }
}

.arrowButton__icon{
  color: white
}

@media (max-width: 1024px) {
  .arrowButton{
    &_absolute{
      display: none;
    }
  }
}