.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__place {
    display: flex;
    gap: 40px;
    min-width: 471px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: var(--color-text-black);
      }

      &__distance {
        display: flex;
        gap: 12px;
        align-items: flex-end;
        margin-left: auto;

        &__item {
          display: flex;
          gap: 8px;
          align-items: center;

          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: var(--color-text-gray);

          &__icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 16px;
    }
  }
}
