.filtersButton {
  cursor: pointer;

  padding: 16px 40px;
  border: 1.5px solid var(--color-border-gray-light);
  border-radius: 16px;

  font-size: 15px;
  color: inherit;

  background-color: transparent;

  transition: all 0.2s ease;

  @media (width <= 1024px) {
    padding: 14px 32px;
    font-size: 13px;
  }

  @media (width <= 768px) {
    padding: 10px 20px;
  }
}

.filtersButton_active {
  border-color: var(--color-orange);
  color: var(--color-white);
  background-color: var(--color-orange);
}
