.filtersButton {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  height: 56px;
  padding: 0 24px;
  border: 1px solid var(--color-border-gray);
  border-radius: 20px;

  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: var(--color-black);

  background-color: transparent;

  transition: all 0.3s ease;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &:hover {
    border: 1px solid var(--color-border-gray-hover);
    background: var(--color-gray-0);
  }

  @media (width <= 1024px) {
    padding: 14px 32px;
    font-size: 13px;
  }

  @media (width <= 768px) {
    padding: 10px 20px;
  }
}

.filtersButton_active {
  border: 1px solid var(--orange-orange-10010, rgb(236 125 63 / 10%));
  color: var(--color-orange);
  background: var(--orange-orange-10010, rgb(236 125 63 / 10%));

  .filtersButton__icon {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(2878%)
      hue-rotate(346deg) brightness(104%) contrast(97%);
  }

  &:hover {
    border: 1px solid var(--orange-orange-10010, rgb(236 125 63 / 10%));
    background: var(--orange-orange-10010, rgb(236 125 63 / 10%));
  }
}
