.listFilter {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  &__show {
    display: flex;
    gap: 24px;

    &__button {
      width: fit-content;
      height: 72px;
      padding: 0 40px;

      &__content {
        display: flex;
        gap: 12px;
        align-items: center;

        font-size: 18px;
        font-weight: 500;

        &__icon {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
