.catalogue {
  &__filters {
    &__container {
      &__range {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 32px;

        @media (width <= 768px) {
          grid-template-columns: repeat(1, 1fr);
        }

        @media (width <= 1024px) {
          margin-top: 24px;
        }
      }
    }
  }
}

.whiteLabel {
  background-color: var(--color-white) !important;
}
