@use "@/utils/mixins" as mixins;

.partners {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 120px;

  width: 100%;

  @media screen and (width >= 1440px) and (width < 1920px) {
    gap: 100px;
    margin-bottom: 100px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    gap: 80px;
    margin-bottom: 80px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    gap: 64px;
    margin-bottom: 64px;
  }

  @media screen and (width < 768px) {
    gap: 64px;
    margin-bottom: 64px;
  }

  @include mixins.adaptive-padding;
}
