* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 120px;
  background-color: var(--color-beige);
}

:root {
  --color-black: #181817;
  --color-beige: #f4f4f1;
  --color-gray: #e4e4e4;
}
