* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--color-beige);
}

.container {
  margin: 0 auto;
  padding: 0 120px;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-onest);
  background-color: transparent;
}

:root {
  --color-black: #181817;
  --color-beige: #f4f4f1;
  --color-gray: #e4e4e4;
  --color-blue: #0436b6;
  --color-white: #fff;
  --color-white-hover: #f9f9f9;
  --color-text-black: #494949;
  --color-text-gray: #818181;
  --color-border-gray: #e9e9e9;
  --color-border-gray-hover: #b1b1b1;
  --color-orange: #ec7d3f;
  --color-orange-hover: #d05d1d;
  --color-orange-light: rgb(236 125 63 / 20%);
  --color-orange-light-hover: rgb(236 125 63 / 30%);
  --color-border-gray-light: #d2d2d2;
}

/* ==============================================
    БАЗОВЫЕ СТИЛИ И ТИПОГРАФИЯ
    ============================================== */

/* Шрифты */
@font-face {
    font-family: "Onest";
    src: url("../../public/fonts/Onest-VariableFont_wght.ttf");
}

/* HTML и Body */
html {
    font-family: 'Onest';
    font-size: 16px;
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 120px;
}

body {
    margin: 0;
    background: rgba(244, 244, 241, 1);
    padding-bottom: 3rem; /* 48px */
}

/* Базовая типография */
h1, p {
    margin: 0.625rem 0; /* 10px */
}

/* ==============================================
LAYOUT СТРУКТУРА
============================================== */

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white !important;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.container{
  padding: 0;
}

button{
    cursor: pointer;
    border: none; 
}

header p{
    width: 40%;
}

#nonTextImg{
    width: 40px;
    height: 40px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 5.625rem);
    position: relative;
    padding:  0 100px;
}

article {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem; 
}

article h1 {
    font-weight: 500;
    font-size: 1.5rem; 
}

article p {
    font-weight: 400;
    color: #818181;
    font-size: 1.125rem; 
}
