.favouritesList {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }
}

.notFound {
  @media screen and (width >= 1440px) {
    flex: 1;
  }
}
