.mainCard {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (width < 1920px) {
    gap: 16px;
  }

  &__card {
    background: var(--color-white);

    border-radius: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    height: 580px;

    justify-content: space-between;

    overflow: hidden;

    padding: 64px 0 64px 80px;

    position: relative;

    @media screen and (width >= 1440px) and (width < 1920px) {
      border-radius: 56px;
      height: 475px;
      padding: 56px 0 56px 64px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      border-radius: 56px;
      height: 400px;
      padding: 48px 0 48px 56px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      border-radius: 40px;
      height: 400px;
      padding: 32px 0 32px 40px;
    }

    @media screen and (width < 768px) {
      border-radius: 24px;
      height: 400px;
      padding: 16px;
    }

    &__image {
      background-image: url("/images/about/main-card-bg.webp");
      background-repeat: no-repeat;
      background-size: contain;
      height: 694px;
      position: absolute;
      right: -300px;
      top: -110px;

      width: 1322px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        height: 555px;
        top: -50px;
        width: 1122px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        height: 555px;
        right: -430px;
        top: -50px;
        width: 1122px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 22px;
      }

      @media screen and (width < 768px) {
        font-size: 22px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 24px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        gap: 16px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        gap: 16px;
      }

      @media screen and (width < 768px) {
        gap: 16px;
      }

      &__heading {
        display: flex;
        flex-direction: column;
        gap: 0px;

        &__title {
          display: flex;
          gap: 20px;

          @media screen and (width >= 768px) and (width < 1920px) {
            gap: 24px;
          }

          @media screen and (width < 768px) {
            gap: 8px;
          }

          &__icon {
            height: 56px;
            width: 56px;

            @media screen and (width >= 1440px) and (width < 1920px) {
              height: 48px;
              width: 48px;
            }

            @media screen and (width >= 1024px) and (width < 1440px) {
              height: 40px;
              width: 40px;
            }

            @media screen and (width >= 768px) and (width < 1024px) {
              height: 40px;
              width: 40px;
            }

            @media screen and (width < 768px) {
              height: 32px;
              width: 32px;
            }
          }

          &__text {
            color: var(--color-orange);

            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;

            @media screen and (width >= 1440px) and (width < 1920px) {
              font-size: 40px;
            }

            @media screen and (width >= 1024px) and (width < 1440px) {
              font-size: 34px;
            }

            @media screen and (width >= 768px) and (width < 1024px) {
              font-size: 34px;
            }

            @media screen and (width < 768px) {
              font-size: 28px;
            }
          }
        }

        &__text {
          color: var(--color-black);

          font-size: 56px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;

          @media screen and (width >= 1440px) and (width < 1920px) {
            font-size: 40px;
          }

          @media screen and (width >= 1024px) and (width < 1440px) {
            font-size: 34px;
          }

          @media screen and (width >= 768px) and (width < 1024px) {
            font-size: 34px;
          }

          @media screen and (width < 768px) {
            font-size: 28px;
          }
        }
      }

      &__description {
        color: var(--color-black);

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
        max-width: 680px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 15px;
          max-width: 518px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 15px;
          max-width: 496px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 15px;
          max-width: 323px;
        }

        @media screen and (width < 768px) {
          font-size: 15px;
          max-width: 296px;
        }
      }
    }

    &__button {
      height: 72px !important;
      width: 242px !important;

      @media screen and (width >= 1440px) and (width < 1920px) {
        font-size: 15px !important;
        height: 64px !important;
        width: 201px !important;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        font-size: 15px !important;
        height: 56px !important;
        width: 185px !important;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        font-size: 14px !important;
        height: 48px !important;
        width: 161px !important;
      }

      @media screen and (width < 768px) {
        font-size: 14px !important;
        height: 48px !important;
        width: 100% !important;
      }
    }
  }

  &__info {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (width >= 1440px) and (width < 1920px) {
      gap: 24px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 12px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width < 768px) {
      gap: 12px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      align-items: center;
      background: var(--color-white);
      border-radius: 32px;
      display: flex;
      gap: 16px;
      padding: 24px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        border-radius: 24px;
        gap: 12px;
        padding: 16px;
      }

      @media screen and (width < 1440px) {
        border-radius: 20px;
        gap: 8px;
        padding: 12px;
      }

      &__icon {
        height: 64px;
        width: 64px;

        @media screen and (width >= 1440px) and (width < 1920px) {
          height: 48px;
          width: 48px;
        }

        @media screen and (width < 1440px) {
          height: 40px;
          width: 40px;
        }
      }

      &__text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        &__count {
          color: var(--color-black);

          font-size: 44px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          text-transform: uppercase;

          @media screen and (width >= 1440px) and (width < 1920px) {
            font-size: 32px;
          }

          @media screen and (width < 1440px) {
            font-size: 24px;
          }
        }

        &__description {
          color: var(--color-text-gray);

          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;

          @media screen and (width >= 768px) and (width < 1920px) {
            font-size: 15px;
          }

          @media screen and (width < 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
