.topFooter{
    width: 100%;
    background: white;
    padding: 40px 80px;
}

.topFooter__container{
    display: flex;
}

@media (max-width: 1440px) {
    .topFooter{
        padding: 20px 60px;
    }
}

@media (max-width: 1024px) {
    .topFooter{
        padding: 20px 40px;
    }
}
@media (max-width: 768px) {
    .topFooter{
        padding: 20px 16px;
    }
}
