.headerCards {
  display: flex;
  gap: 20px;
  justify-content: space-around;

  &__title {
    user-select: none;

    display: flex;
    grid-template-columns: auto 40px;
    flex: 1;
    justify-content: space-between;

    padding: 40px;
    border-radius: 32px;

    background-color: var(--color-green);
    background-image: url("/images/backgrounds/maincard.svg");
    background-position: center;
    background-size: cover;

    -webkit-touch-callout: none;

    &__heading {
      width: 565px;

      font-size: 40px;
      font-weight: 400;
      line-height: 130%;
      color: var(--color-white);

      @media (width <= 1720px) {
        width: 300px;
        font-size: 24px;
      }

      @media (width <= 1250px) {
        width: 260px;
        margin: 0;
        font-size: 22px;
      }

      @media (width <= 620px) {
        width: 100%;
        font-size: 22px;
      }

      @media (width <= 768px) {
        flex: 1;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 64px;
      height: 64px;
      border-radius: 50%;

      background-color: var(--color-white);

      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-border-gray);
      }

      &__icon {
        width: 28px;
        height: 28px;
      }

      @media (width <= 1250px) {
        width: 48px;
        height: 48px;
      }

      @media (width <= 620px) {
        width: 40px;
        height: 40px;
      }
    }

    @media (width <= 1720px) {
      max-width: 450px;
    }

    @media (width <= 1250px) {
      max-width: 350px;
    }

    @media (width <= 1015px) {
      min-width: 100%;
      max-width: none;
      height: 282px;
    }

    @media (width <= 620px) {
      width: 100%;
      min-width: 100%;
      max-width: none;
      height: 200px;
      padding: 16px 16px 140px;

      // padding-bottom: 120px;
    }
  }

  &__percent {
    width: 390px;
    padding: 12px;
    border-radius: 32px;

    color: var(--color-white);

    background-color: var(--color-orange);

    &__content {
      padding: 28px 28px 0;

      @media (width <= 620px) {
        padding: 4px 4px 0;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__title {
      font-size: 34px;
      font-weight: 400;
      line-height: 130%;

      @media (width <=1720px) {
        font-size: 24px;
      }

      @media (width <= 1250px) {
        font-size: 22px;
      }

      @media (width <= 768px) {
        font-size: 20px;
      }

      @media (width <= 620px) {
        font-size: 18px;
      }
    }

    &__subtitle {
      font-size: 20px;
      font-weight: 300;
      line-height: 130%;

      @media (width <= 620px) {
        font-size: 16px;
      }
    }

    &__date {
      display: flex;
      flex-direction: column;
      gap: 0;

      width: 100%;
      margin-top: 32px;
      padding: 8px 12px;
      border-radius: 20px;

      background-color: var(--color-dark-orange);

      &__time {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: space-between;

        height: 56px;

        &__number {
          width: 80px;
          height: 56px;

          font-size: 48px;
          font-weight: 400;
          line-height: 130%;
          text-align: center;

          @media (width <= 1720px) {
            font-size: 36px;
          }

          @media (width <= 1250px) {
            height: max-content;
            font-size: 28px;
          }

          @media (width <= 620px) {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 48px;

            font-size: 24px;
          }
        }

        &__colon {
          font-size: 56px;
          font-weight: 500;
          line-height: 130%;
          text-align: center;

          @media (width <= 1720px) {
            font-size: 40px;
          }

          @media (width <= 1250px) {
            font-size: 34px;
          }

          @media (width <= 620px) {
            font-size: 28px;
          }
        }

        @media (width <= 620px) {
          height: 48px;
        }
      }

      &__desc {
        display: flex;
        justify-content: space-between;

        font-size: 16px;
        font-weight: 400;
        line-height: 150%;

        &__item {
          width: 80px;
          text-align: center;

          @media (width <= 620px) {
            width: 60px;
          }
        }

        @media (width <= 1720px) {
          font-size: 14px;
        }

        @media (width <= 620px) {
          font-size: 12px;
        }
      }

      @media (width <= 620px) {
        width: 213px;
        margin-top: 20px;
      }
    }

    &__button {
      height: 64px;
      margin-top: 34px;

      @media (width <= 620px) {
        height: 48px;
        margin-top: 20px;
      }
    }

    @media (width <= 1720px) {
      max-width: 380px;
    }

    @media (width <= 1250px) {
      max-width: 290px;
    }

    @media (width <= 1015px) {
      width: calc(50% - 10px);
      max-width: none;
    }

    @media (width <= 620px) {
      width: 100%;
      max-width: none;
    }
  }

  &__firstCard {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    width: 390px;
    padding: 12px;
    border-radius: 40px;

    background-color: var(--color-border-gray);

    &__content {
      display: flex;
      flex-direction: column;
      padding: 28px 28px 0;

      @media (width <= 620px) {
        padding: 10px 14px 0;
      }
    }

    &__title {
      font-size: 34px;
      font-weight: 400;
      line-height: 130%;
      color: var(--color-black);

      @media (width <= 1720px) {
        font-size: 22px;
      }

      @media (width <= 768px) {
        font-size: 20px;
      }

      @media (width <= 620px) {
        font-size: 18px;
      }
    }

    &__icon {
      width: 93px;
      height: 93px;
      margin-top: 75px;
      margin-right: auto;
      margin-left: auto;

      @media (width <= 1720px) {
        width: 74px;
        height: 74px;
      }

      @media (width <= 620px) {
        width: 60px;
        height: 60px;
        margin-top: 40px;
      }
    }

    &__button {
      height: 64px;
      margin-top: auto;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
        background-color: var(--color-beige) !important;
      }

      @media (width <= 620px) {
        height: 48px;
      }
    }

    @media (width <= 1720px) {
      max-width: 381px;
    }

    @media (width <= 1250px) {
      width: 290px;
      max-width: none;
    }

    @media (width <= 1015px) {
      width: calc(50% - 10px);
      max-width: none;
    }

    @media (width <= 620px) {
      width: 100%;
      max-width: none;
    }
  }

  @media (width <= 1015px) {
    flex-wrap: wrap;
  }

  @media (width <= 620px) {
    flex-direction: column;
    gap: 16px;
  }
}
