.mortgage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 230px;
  align-items: center;

  margin-top: 100px;
  padding: 64px 120px 64px 64px;
  border-radius: 40px;

  background-color: var(--color-gray);

  &__question {
    height: 100%;

    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-black);
    text-transform: uppercase;

    > b {
      font-weight: 400;
      color: var(--color-orange);
    }

    @media (width <= 1565px) {
      font-size: 34px;
    }

    @media (width <= 1320px) {
      font-size: 24px;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;

    width: max-content;

    > button {
      overflow: hidden;

      width: 100%;
      padding: 5px 7px;

      font-size: 20px;
      line-height: 130%;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      }

      &:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
      }

      &:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
      }

      &:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
      }

      &:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
      }

      @media (width <= 1565px) {
        font-size: 18px;
      }

      @media (width <= 1320px) {
        padding: 3px 5px;
        font-size: 16px;
      }

      @media (width <= 1024px) {
        padding: 3px 5px;
        font-size: 16px;
      }
    }

    @media (width <= 680px) {
      gap: 20px 30px;
      padding: 12px 15px;
    }

    @media (width <= 424px) {
      gap: 10px;
    }

    @media (width <= 420px) {
      max-width: 270px;
    }
  }

  @media (width <= 680px) {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__question {
      text-align: center;
    }

    &__buttons {
      place-self: center center;
    }
  }

  @media (width <= 420px) {
    &__question {
      text-align: left;
    }
  }

  @media (width <= 1040px) {
    &__buttons {
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;

      > button {
        &:nth-child(1) {
          grid-column: 1;
          grid-row: 1;
        }

        &:nth-child(2) {
          grid-column: 2;
          grid-row: 1;
        }

        &:nth-child(3) {
          grid-column: 1;
          grid-row: 2;
        }

        &:nth-child(4) {
          grid-column: 2;
          grid-row: 2;
        }

        &:nth-child(5) {
          grid-column: 1;
          grid-row: 3;
          justify-self: start;
          width: calc(150% + 6px);
        }
      }
    }
  }

  @media (width <= 1765px) {
    gap: 70px;
    padding: 64px;
  }

  @media (width <= 1320px) {
    gap: 220px;
  }

  @media (width <= 1200px) {
    gap: 40px;
    padding: 28px;
  }
}
