.tableContainer {
  background: #fff;
  border-radius: 12px;
  overflow-x: auto;
  padding: 20px;

  width: 100%;
}

.accessTable {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      th {
        color: var(--color-text-gray);

        font-size: 14px;
        font-weight: 400;
        padding: 18px 24px;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 2px solid var(--color-gray);
      height: 30px;

      td {
        color: #494949;

        font-size: 14px;
        font-weight: 300;
        height: 30px;
        padding: 18px 24px;
        text-align: left;
      }

      .name {
        color: #181817;
        font-weight: 400;
      }

      .password {
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 1.4;
      }

      .controls {
        min-width: 120px;
        text-align: center;
        vertical-align: middle;
        width: 120px;
      }
    }
  }
}

.buttonGroup {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.editBtn,
.deleteBtn {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 30px;
  justify-content: center;

  width: 30px;
}

.editBtn {
  background-color: var(--color-beige);
}

.deleteBtn {
  background-color: #ec7d3f33;
}

.custom-input-container {
  height: 72px;
  position: relative;

  input {
    background: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 8px;

    font-size: 14px;
    height: 72px;
    outline: none;
    padding: 24px 16px 8px;
    width: 100%;

    &.has-value + label,
    &:focus + label {
      color: #666;
      font-size: 12px;
      top: 8px;
    }
  }

  .custom-placeholder {
    color: #999;

    font-size: 14px;
    left: 16px;
    pointer-events: none;

    position: absolute;
    top: 24px;

    transition: all 0.2s ease;
  }
}
