.download {
  background-image: url("/images/cardDownload/card-background.webp");
  background-position: center;
  background-size: cover;
  border-radius: 40px;

  margin: 120px 0;

  overflow: hidden;
  padding: 120px;
  position: relative;

  &__catalogue {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;

    width: 668px;

    &__header {
      display: flex;
      flex-direction: column;
      gap: 0;

      &__title {
        color: var(--color-black);
        font-size: 56px;
        font-weight: 400;
        line-height: 130%;

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 40px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 34px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 34px;
        }

        @media screen and (width < 768px) {
          font-size: 28px;
        }
      }

      &__description {
        align-items: center;
        display: flex;
        gap: 24px;

        &__text {
          align-items: center;

          background-color: var(--color-orange);
          border-radius: 32px;
          color: #fff;

          display: flex;

          font-size: 34px;
          font-weight: 300;
          justify-content: center;
          line-height: 130%;

          padding: 12px 24px;
          transform: rotate(-5deg);

          @media screen and (width >= 1440px) and (width < 1920px) {
            font-size: 22px;
            padding: 8px 16px;
          }

          @media screen and (width >= 1024px) and (width < 1440px) {
            font-size: 22px;
            padding: 8px 16px;
          }

          @media screen and (width >= 768px) and (width < 1024px) {
            font-size: 20px;
            padding: 8px 12px;
          }

          @media screen and (width < 768px) {
            font-size: 20px;
            padding: 8px 12px;
            transform: rotate(0deg);
          }
        }

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 26px;
          gap: 20px;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 22px;
          gap: 16px;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 22px;
          gap: 8px;
        }

        @media screen and (width < 768px) {
          align-items: start;
          flex-direction: column;
          gap: 12px;
        }
      }
    }

    &__statistics {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 32px;

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 16px;
        margin-top: 24px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        gap: 12px;
        grid-template-columns: 1fr;
        margin-top: 16px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        gap: 12px;
        margin-top: 16px;
      }

      @media screen and (width < 768px) {
        gap: 12px;
        grid-template-columns: 1fr;
        margin-top: 8px;
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__buttons {
      display: flex;
      gap: 24px;

      &__button {
        align-items: center;
        display: flex;

        font-weight: 400;
        gap: 12px;
        justify-content: center;

        transition: opacity 0.3s ease-in-out;

        &__send {
          margin-top: 40px;
        }

        &:hover {
          opacity: 0.9;
        }

        &__icon {
          height: 32px;
          width: 32px;

          @media screen and (width >= 1440px) and (width < 1920px) {
            height: 28px;
            width: 28px;
          }

          @media screen and (width >= 1024px) and (width < 1440px) {
            height: 28px;
            width: 28px;
          }

          @media screen and (width >= 768px) and (width < 1024px) {
            height: 24px;
            width: 24px;
          }

          @media screen and (width < 768px) {
            height: 24px;
            width: 24px;
          }
        }

        @media screen and (width >= 1440px) and (width < 1920px) {
          font-size: 16px !important;
          gap: 12px;
          padding: 0 23px !important;
        }

        @media screen and (width >= 1024px) and (width < 1440px) {
          font-size: 15px !important;
          gap: 8px;
          height: 56px !important;
        }

        @media screen and (width >= 768px) and (width < 1024px) {
          font-size: 13px !important;
          gap: 6px;
          height: 48px !important;
          padding: 0 23px !important;
        }

        @media screen and (width < 768px) {
          font-size: 14px !important;
          gap: 6px;
          height: 48px !important;
          padding: 0 23px !important;
        }
      }

      &__whatsapp {
        background-color: #56b555;

        &:hover {
          background-color: #56b555;
        }
      }

      &__telegram {
        background-color: #4a68b1;

        &:hover {
          background-color: #4a68b1;
        }
      }

      @media screen and (width >= 1440px) and (width < 1920px) {
        gap: 16px;
      }

      @media screen and (width >= 1024px) and (width < 1440px) {
        flex-direction: column;
        gap: 12px;
      }

      @media screen and (width >= 768px) and (width < 1024px) {
        gap: 12px;
      }

      @media screen and (width < 768px) {
        flex-direction: column;
        gap: 12px;
      }
    }

    @media screen and (width >= 1440px) and (width < 1920px) {
      gap: 24px;
      width: 588px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      gap: 24px;
      width: 403px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      gap: 24px;
      width: 100%;
    }

    @media screen and (width < 768px) {
      gap: 24px;
      width: 100%;
    }
  }

  &__image {
    background-image: url("/images/cardDownload/card-download.webp");
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    width: 816px;

    @media screen and (width >= 1440px) and (width < 1920px) {
      background-position: left;
      width: 600px;
    }

    @media screen and (width >= 1024px) and (width < 1440px) {
      background-position: left;
      width: 484px;
    }

    @media screen and (width >= 768px) and (width < 1024px) {
      display: none;
    }

    @media screen and (width < 768px) {
      display: none;
    }
  }

  @media screen and (width >= 1440px) and (width < 1920px) {
    padding: 80px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    padding: 56px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    background: #fff;
    background-image: none;
    border-radius: 24px;
    padding: 40px;
  }

  @media screen and (width < 768px) {
    background: #fff;
    background-image: none;
    border-radius: 24px;
    padding: 24px 16px;
  }
}
