.monthlyPayment {
  background-color: var(--color-white);
  border-radius: 40px;

  margin-top: 120px;
  @media (width >= 1440px) and (width < 1920px) {
    margin-top: 100px;
  }
  @media (width >= 1024px) and (width < 1440px) {
    margin-top: 80px;
  }
  @media (width < 1024px) {
    margin-top: 64px;
  }


  &__container {
    overflow: hidden;
    padding: 80px 120px;
    position: relative;

    @media (max-width: 1919px) {
      padding: 64px 80px;
    }
    @media (max-width: 1440px) {
      padding: 48px 64px;
    }
    @media (max-width: 1024px) {
      padding: 64px 56px;
    }
    @media (max-width: 768px) {
      padding: 117px 16px;
    }

    img {
      @media (max-width: 1919px) {
        height: 269px;
        width: 269px;
      }
      @media (max-width: 1440px) {
        height: 197px;
        width: 197px;
      }
      @media (max-width: 1024px) {
        height: 156px;
        width: 156px;
      }
      @media (max-width: 768px) {
        height: 126px;
        width: 126px;
      }
    }

    &__image {
      &__key {
        left: 0;
        position: absolute;
        top: 0;
        @media (max-width: 1919px) {
          top: 50px;
        }
        @media (max-width: 1440px) {
          top: 70px;
        }
        @media (max-width: 768px) {
          top: 20px;
        }
      }

      &__keyForm {
        left: 0;
        position: absolute;
        top: 0;
        @media (max-width: 1440px) {
          display: none;
        }
      }

      &__noteBook {
        position: absolute;
        right: 0;
        top: 0;
        @media (max-width: 1919px) {
          top: 50px;
        }
        @media (max-width: 1440px) {
          top: 70px;
        }
        @media (max-width: 768px) {
          top: 20px;
        }
      }

      &__noteBookForm {
        position: absolute;
        right: 0;
        top: 0;
        @media (max-width: 1440px) {
          display: none;
        }
      }
    }

    &__content {
      align-items: center;
      display: flex;
      flex-direction: column;

      &__title {
        background-color: var(--color-orange-light);
        border-radius: 100px;
        color: var(--color-orange);
        font-size: 18px;
        padding: 6px 24px;
        text-align: center;
        @media (max-width: 1919px) {
          font-size: 15px;
          padding: 4px 20px;
        }
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      &__question {
        color: var(--color-black);
        font-size: 34px;
        font-weight: 500;
        margin-top: 24px;
        text-align: center;
        @media (max-width: 1919px) {
          font-size: 22px;
        }
        @media (max-width: 1024px) {
          font-size: 20px;
        }

        &__marker {
          color: var(--color-orange);
        }
      }

      &__buttons {
        display: flex;
        gap: 24px;
        margin-top: 40px;
        @media (max-width: 1919px) {
          gap: 16px;
        }
        @media (max-width: 1440px) {
          gap: 12px;
        }
        @media (max-width: 1024px) {
          flex-wrap: wrap;
          justify-content: center;
          max-width: 550px;
        }

        button {
          background-color: var(--color-beige-light);
          border: 1px solid var(--color-gray-white);

          height: 64px;
          padding: 18px 24px;
          width: max-content;

          @media (max-width: 1919px) {
            font-size: 15px;
            height: 56px;
          }
          @media (max-width: 1440px) {

            height: 48px;
            padding: 12px 16px;
          }
          @media (max-width: 1024px) {
            height: 40px;
            padding: 8px 16px;

          }
          @media (max-width: 768px) {
            font-size: 14px;
          }

          &:active {
            background-color: var(--color-orange-light);
            border: 1px solid rgba(236, 125, 63, 0.1);
            color: var(--color-orange);
          }

          &:hover {
            background-color: var(--color-orange-light);
            border: 1px solid rgba(236, 125, 63, 0.1);
            color: var(--color-orange);
          }
        }
      }

      &__form {
        margin-top: 40px;
        max-width: 1000px;
        @media (max-width: 1919px) {
          max-width: 800px;
        }
        width: 100%;

        &__row {
          @media (min-width: 1025px) {
            align-items: center;
            display: flex;
            gap: 20px;
          }
          @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }
        }

        &__inputs {
          @media (min-width: 1025px) {
            display: flex;
            flex: 1;
            gap: 20px;
          }
          @media (min-width: 769px) and (max-width: 1024px) {
            display: flex;
            gap: 16px;
            width: 100%;

            > div {
              width: 50%;
            }
          }
          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;

            > div {
              width: 100%;
            }
          }
        }

        &__button {
          @media (min-width: 1025px) {
            flex-shrink: 0;

            button {
              max-width: 220px;
            }
          }
          @media (max-width: 1024px) {
            width: 100%;

            button {
              width: 100%;
            }
          }
        }
      }

      &__back {
        margin-top: 24px;

        button {
          background-color: var(--color-gray-white);
          border: 1px solid var(--color-gray);
          color: var(--color-gray);

          &:hover {
            background-color: var(--color-gray);
            color: var(--color-white);
          }
        }
      }
    }
  }
}
