.offers {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 4rem;

    &__title {
        font-weight: 500;
        font-size: 34px;
        padding-left: 30px;
    }

    &__container {
        width: 100%;
        overflow: hidden;
        justify-content: center;
        gap: 50px;
        position: relative;
    }

    &_navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        position: absolute;
        z-index: 1000;
        top: calc(50% - 24px);

        &_button {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: none;
            background: white;
        }
    }

    &_button {
        &.row {
            justify-content: center;
            width: 100%;
        }

        &-catalogue {
            font-size: 18px;
            font-weight: 500;
            color: white;
            background: rgba(236, 125, 63, 1);
            padding: 20px;
            border-radius: 40px;
        }
    }
}

.row {
    display: flex;
    width: 100%;
}

.property-card {
    min-width: 820px;
    height: 730px;
    background-color: white;
    border-radius: 40px;
    overflow-y: hidden;
    position: relative;

    &__content {
        width: 90%;
        margin: auto;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__image > img {
        width: 100% !important;
        height: 600px !important;
        border-radius: 40px;
        transition: height 0.5s ease-in-out !important;
        overflow: hidden;
        object-fit: cover !important;
        object-position: center !important;
    }

    &:hover &__image > img {
        height: 360px !important;
    }

    &__badge {
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        display: flex;
        gap: 10px;

        span {
            padding: 10px;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 64px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
    }

    &__price {
        font-weight: 400;
        font-size: 24px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        color: rgba(73, 73, 73, 1);
    }

    &__location {
        display: flex;
        justify-content: space-between;
        width: 280px;

        span {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            font-weight: 400;
            color: rgba(129, 129, 129, 1);

            img {
                width: 23px;
                height: 23px;
            }
        }
    }

    &__icon {
        width: 24px !important;
        height: 24px !important;
    }

    &__divider {
        width: 100%;
        border-bottom: 1px rgba(228, 228, 228, 1) solid;
        margin-top: 30px;
    }

    &__specifications {
        margin-top: 30px;
        width: 100%;
    }

    &__actions {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        width: 326px;
        height: 56px;
        border: none;
        border-radius: 40px;
        font-size: 16px;
        font-weight: 600;

        &_primary {
            background: rgba(236, 125, 63, 1);
            color: white;
        }

        &_secondary {
            background: none;
            border: 1.5px rgba(233, 233, 233, 1) solid;
        }
    }

    &__favorite {
        width: 56px;
        height: 56px;
        border-radius: 40px;
        border: 1.5px rgba(233, 233, 233, 1) solid;
        background: none;
        display: flex;

        svg {
            width: 25px;
            height: 25px;
            margin: auto;
        }
    }
}

.specifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 40px;
    width: 100%;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    &__type {
        font-weight: 400;
        font-size: 16px;
        color: rgba(24, 24, 23, 1);
        flex-shrink: 0;
    }

    &__price {
        font-weight: 500;
        font-size: 16px;
        color: #333;
        text-align: right;
        white-space: nowrap;
    }
}

.carousel {
    position: relative;

    &__button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: none;
        background: white;
    }

    &__navigation {
        width: 103.5%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        position: absolute;
        z-index: 1000;
        top: calc(50% - 24px);
        left: -30px;
    }
}