.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;

  @media screen and (width >= 1024px) and (width < 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  @media screen and (width < 768px) {
    display: none;
  }
}

.title {
  margin: 0 0 12px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
