.inputContainer {
  position: relative;
  display: inline-block;
  width: 100%;

  &.big {
    flex-wrap: wrap;
    width: auto;
    text-align: left;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    padding-left: 0.875rem;
    border: 1.5px solid rgb(210 210 210 / 100%);
    border-radius: 1rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    transition: border-color 0.3s ease;

    &::placeholder {
      font-size: 18px;

      @media (width <= 1440px) {
        font-size: 16px;
      }

      @media (width <= 768px) {
        font-size: 14px;
      }
    }

    &:focus {
      outline: none;
    }

    &.big {
      width: 100%;
    }

    &[readonly] {
      padding-top: 1rem;
      border: none;
      background: rgb(249 249 247 / 100%);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__prefix {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    left: 0.875rem;

    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  &__label {
    position: absolute;
    z-index: 2;
    top: -0.6875rem;
    left: 0.5rem;

    padding: 0 0.3125rem;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;

    background-color: rgb(255 255 255 / 100%);

    &:has(+ .inputContainer__wrapper .inputContainer__input[readonly]),
    &:has(+ .inputContainer__input[readonly]) {
      top: 0;
      font-size: 16px;
      font-weight: 600;
      background: none;
    }

    @media (width <= 768px) {
      font-size: 12px;
    }

    @media (width <= 570px) {
      font-size: 11px;
    }
  }

  &__wrapper:has(.inputContainer__prefix) .inputContainer__input {
    padding-left: 3rem;
  }
}
