.inputContainer {
  position: relative;
  display: inline-block;
  width: 100%;

  &.big {
    width: auto;
    flex-wrap: wrap;
    text-align: left;
  }

  // Основные поля ввода
  &__input {
    width: 100%;
    height: 4rem; /* 64px */
    border-radius: 1rem; /* 16px */
    border: 1.5px solid rgba(210, 210, 210, 1);
    padding-left: 0.875rem; /* 14px */
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    transition: border-color 0.3s ease;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    &.big {
      width: 100%;
    }

    &[readonly] {
      background: rgba(249, 249, 247, 1);
      border: none;
      padding-top: 1rem;
    }
  }

  // Wrapper для инпута с префиксом
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  // Префикс (например +7 для телефона)
  &__prefix {
    position: absolute;
    left: 0.875rem;
    z-index: 1;
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    pointer-events: none;
  }

  // Лейблы для полей
  &__label {
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.5;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    top: -0.6875rem; /* -10.5px */
    left: 0.5rem; /* 8px */
    padding: 0 0.3125rem; /* 0 5px */

    // Специальные стили для readonly полей
    &:has(+ .inputContainer__wrapper .inputContainer__input[readonly]),
    &:has(+ .inputContainer__input[readonly]) {
      font-weight: 600;
      font-size: 16px;
      top: 0px;
      background: none;
    }
  }

  // Когда есть префикс, сдвигаем padding
  &__wrapper:has(.inputContainer__prefix) .inputContainer__input {
    padding-left: 3rem; /* Увеличиваем отступ для префикса */
  }
}