.rating {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: var(--main-margin-bottom, 120px);
  margin-left: calc(-1 * var(--main-padding-left, 120px));
  margin-right: calc(-1 * var(--main-padding-right, 120px));
  margin-top: var(--main-margin-top, 120px);
  padding-bottom: var(--main-padding-bottom, 120px);
  padding-left: var(--main-padding-left, 120px);
  padding-right: var(--main-padding-right, 120px);
  padding-top: var(--main-padding-top, 120px);

  --main-padding-left: 120px;
  --main-padding-right: 120px;
  --main-padding-top: 120px;
  --main-padding-bottom: 120px;
  --main-margin-top: 120px;
  --main-margin-bottom: 120px;

  @media screen and (width >= 1440px) and (width < 1920px) {
    --main-padding-left: 80px;
    --main-padding-right: 80px;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-margin-top: 100px;
    --main-margin-bottom: 100px;
  }

  @media screen and (width >= 1024px) and (width < 1440px) {
    --main-padding-left: 40px;
    --main-padding-right: 40px;
    --main-padding-top: 80px;
    --main-padding-bottom: 80px;
    --main-margin-top: 80px;
    --main-margin-bottom: 80px;
  }

  @media screen and (width >= 768px) and (width < 1024px) {
    --main-padding-left: 40px;
    --main-padding-right: 40px;
    --main-padding-top: 64px;
    --main-padding-bottom: 64px;
    --main-margin-top: 64px;
    --main-margin-bottom: 64px;
  }

  @media screen and (width < 768px) {
    --main-padding-left: 16px;
    --main-padding-right: 16px;
    --main-padding-top: 64px;
    --main-padding-bottom: 64px;
    --main-margin-top: 64px;
    --main-margin-bottom: 64px;
  }

  &__title {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__description {
        color: var(--color-text-gray-light);
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
        margin: 0;

        @media (width <= 1920px) {
          font-size: 18px;
        }

        @media (width <= 1024px) {
          font-size: 16px;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 24px;

      @media (width <= 768px) {
        display: none;
      }
    }
  }

  &__content {
    border-top: 2px solid var(--color-gray);
    padding-top: 40px;

    &__item {
      background-color: var(--color-beige-light);
      border-radius: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 40px;

      &__title {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: space-between;

        &__name {
          color: var(--color-black);
          font-size: 18px;
          font-weight: 400;
          line-height: 130%;
          margin: 0;
        }

        &__image {
          height: 40px;
          width: 40px;
        }
      }

      &__description {
        color: var(--color-black);
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        margin: 0;
      }
    }
  }
}

.swiper {
  height: 100%;
  width: 100%;

  &__slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.navigationButton {
  align-items: center;
  background: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  transition: all 0.3s ease;
  width: 64px;
  z-index: 10;

  &::after {
    display: none;
  }

  &__icon {
    height: 32px;
    position: relative;
    width: 32px;

    &__icon_next {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .navigationButton__icon {
      filter: brightness(0) saturate(100%) invert(48%) sepia(79%)
        saturate(2476%) hue-rotate(346deg) brightness(118%) contrast(119%);
    }
  }
}

.navigationButton {
  background-color: var(--color-beige-light);
}

.starRating {
  align-items: center;
  display: flex;
  gap: 12px;

  &__stars {
    display: flex;
    gap: 3px;
  }

  &__star {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
  }

  &__starEmpty {
    background-color: transparent;
    height: 20px;
    width: 20px;
  }

  &__score {
    color: var(--color-text-gray);
    font-size: 18px;
    display: flex;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    margin-top: 5px;
  }
}
